@use "./index" as index;

// background-color: #f1faee;
// border-radius: 30% 70% 30% 70%/ 30% 30% 70% 70%;
// background-color: #dcd8d871;
// background-color: #a9c8e3;
// border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;

/* ************ INTRO PART ************ */
.intro-part {
  @include index.res-grid;
  width: 100%;
  height: 90vh;
  // @include index.bg-pattern;
  background-color: white;
  .motive {
    width: 100%;
    padding: 2rem;
    @include index.flex-box($flex-dir: column, $align-items: flex-start);
    gap: 1rem;
    // color: white;
    .intro-flp {
      // color: #050523;
      color: index.$oxford-blue;
      @include index.flex-box;
      gap: 1rem;
      h1 {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 4rem;
        // background-color: #050523;
        // color: white;
        background-color: index.$tea-green;
        color: index.$oxford-blue;
      }
      div {
        h2 {
          font-size: 4rem;
          font-weight: 500;
          // &:nth-of-type(2) {
          //   background: linear-gradient(to right, grey, grey, whitesmoke);
          //   color: transparent;
          //   background-clip: text;
          // }
          // &:nth-of-type(3) {
          //   color: #cf0f35;
          // }
        }
      }
    }
    .desc {
      @include index.flex-box($flex-dir: column, $align-items: flex-start);
      gap: 1rem;
      text-transform: capitalize;
      .greeting {
        width: 90%;
        font-size: 1.3rem;
      }
      .aim {
        font-size: 1.1rem;
      }
      a {
        padding: 0.6rem 1rem;
        // background-color: #050523;
        border: 1px solid index.$cool-gray;
        border-radius: 5px;
        @include index.flex-box;
        gap: 0.5rem;
        font-size: 1.1rem;
        // color: white;
        // color: index.$oxford-blue;
        background-color: index.$antiflash-white;
        color: index.$oxford-blue;
        transition: all 0.2s ease-in;
        &:hover {
          background-color: index.$cool-gray;
          color: index.$antiflash-white;
        }
        .arrow-icon {
          font-size: 1.3rem;
        }
      }
    }
  }
  .explore-france {
    width: 100%;
    height: 100%;
    @include index.flex-box;
    padding: 2rem;
    // background-color: #050523;
    background-color: index.$oxford-blue;
    border-radius: 50% 0 0 0;
    // .map {
    //   width: 90%;
    //   height: 100%;
    //   filter: drop-shadow(5px 5px 5px grey);
    // }
  }
  @media (width<=900px) {
    @include index.res-grid(100%);
    height: auto;
    text-align: center;
    .motive {
      width: 80%;
      text-align: center;
      align-items: center;
      .greeting {
        width: 100%;
        font-size: 4rem;
      }
      .aim {
        width: 70%;
        font-size: 1.1rem;
      }
    }
  }
}

/* ************** DETAILS PART STYLES **************** */

.details-part {
  width: 100%;
  padding: 1rem;
  @include index.flex-box($flex-dir: column);
  position: relative;
  overflow: hidden;
  gap: 2rem;
  .collab-heading {
    font-size: 3rem;
    // color: #191952;
    color: index.$oxford-blue;
  }
  .collab {
    width: 100%;
    padding: 1rem;
    @include index.flex-box;
    gap: 1rem;
    div {
      width: 100%;
      @include index.flex-box;
      padding: 3rem;
      background-color: transparent;
      border-radius: 5px;
      transition: background-color 0.2s ease-in;
      .partner {
        padding: 5rem;
        img {
          @include index.img-setting($width: 100%);
          filter: drop-shadow(5px 5px 5px grey);
          transition: 500ms ease;
          &:hover {
            scale: 1.5;
          }
        }
      }
      &:hover {
        background-color: aliceblue;
      }
      @media (width<=1300px) {
        padding: 1rem;
        @media (width<1200px) {
          .partner {
            padding: 3rem;
            @media (width<1000px) {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
  @media (width<=700px) {
    .collab {
      flex-direction: column;
      gap: 0;
      div {
        .partner {
          padding: 4rem;
          img {
            &:hover {
              scale: none;
            }
          }
        }
      }
    }
  }
}

// ******************* SERVICES PART STYLES *******************
.service-section {
  width: 100%;
  @include index.flex-box($flex-dir: column);
  padding: 2rem;
  gap: 1rem;
  h2 {
    font-size: 3rem;
    // color: #191952;
    color: index.$oxford-blue;
    padding: 1rem 1rem 2rem 1rem;
  }
  .services {
    @include index.flex-box;
    gap: 2rem;
    .service {
      border-radius: 5px;
      padding: 2rem;
      @include index.flex-box($flex-dir: column, $align-items: flex-start);
      gap: 0.5rem;
      background-color: aliceblue;
      .service-icon {
        font-size: 4rem;
        // color: #191952;
        color: index.$oxford-blue;
      }
      h3 {
        font-size: 1.5rem;
        // color: #191952;
        color: index.$oxford-blue;
      }
      p {
        @include index.flex-box($align-items: flex-start);
        font-size: 1.3rem;
        gap: 0.5rem;
        .check-icon {
          color: dodgerblue;
        }
      }
    }
  }
  @media (width<=1020px) {
    .services {
      flex-direction: column;
      gap: 2rem;
      .service {
        width: 80%;
        @media (width<=500px) {
          width: 100%;
          .service-icon {
            font-size: 3rem;
          }
          h3 {
            font-size: 1.2rem;
          }
          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

// *************** ANNOUNCEMENTS STYLES *****************
.announcements-section {
  width: 100%;
  padding: 2rem;
  @include index.flex-box($flex-dir: column);
  gap: 1rem;
  // ************** SHOW BROCHURE ***************
  .modal-overlay {
    top: 5%;
    .modal-content {
      height: 95%;
      padding: 6rem 4rem;
      // background-color: plum;
      .modal-close {
        top: 4%;
      }
      .show-brochure {
        width: 100%;
        height: 100%;
        @include index.flex-box;
        // background-color: pink;
        img {
          @include index.img-setting;
          height: 100%;
          @media (width<=500px) {
            @include index.img-setting(100%, $object-fit: cover);
          }
        }
      }
    }
  }
  .announcements {
    width: 100%;
    @include index.res-grid;
    .modal-overlay {
      .modal-content {
        left: 22%;
        @media (width<=1300px) {
          left: 10%;
        }
        @media (width<950px) {
          left: 0;
        }
      }
    }
    div {
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      gap: 1rem;
      h3 {
        font-size: 4rem;
        // color: #191952;
        color: index.$oxford-blue;
      }
      p {
        width: 70%;
        font-size: 1.3rem;
      }
      .upload-btn {
        padding: 0.5rem;
        font-size: 1.2rem;
        border-radius: 5px;
        border: 2px solid #191952;
        // background-color: #090950;
        background-color: index.$oxford-blue;
        color: white;
        cursor: pointer;
        // filter: drop-shadow(6px 6px #141480);
        filter: drop-shadow(6px 6px #073266);
      }
    }
    .announcement {
      width: 100%;
      background-color: white;
      @include index.flex-box;
      div {
        @include index.flex-box;
        font-size: 1.3rem;
      }
      .slick-dots {
        // color: #050523;
        color: index.$oxford-blue;
      }
      .slick-list {
        @include index.flex-box;
      }
      .slick-track {
        @include index.flex-box;
      }
      .slick-slider {
        width: 100%;
        @include index.flex-box;
        .slick-slide {
          width: 100%;
          @include index.flex-box;
          .brochure {
            @include index.flex-box;
            position: relative;
            padding: 1rem;
            // background-color: pink;
            img {
              @include index.img-setting;
              filter: drop-shadow(5px 5px 5px grey);
            }
            // p {
            //   width: 100%;
            //   padding: 3rem;
            // }
            .delete-btn {
              position: absolute;
              left: 45%;
              bottom: 2px;
              font-size: 1.2rem;
              padding: 0.5rem;
              background-color: #fcd136;
              border-radius: 5px;
              border: 2px solid white;
              cursor: pointer;
              z-index: 10;
              filter: drop-shadow(2px 2px 5px #00000080);
              &:hover {
                background-color: #f0cd4c;
              }
              @media (width<=800px) {
                font-size: 1.1rem;
              }
              @media (width<=780px) {
                font-size: 1rem;
                left: 45%;
              }
              @media (300px<width<=500px) {
                left: 42.5%;
                padding: 0.3rem;
              }
            }
          }
        }
      }
    }
  }
  @media (width<=1100px) {
    .announcements {
      @include index.res-grid(100%);
      gap: 3rem;
      div {
        h3 {
          font-size: 3rem;
        }
        p {
          width: 90%;
          font-size: 1.1rem;
        }
      }
      h3 {
        width: 100%;
        font-size: 1.1rem;
      }
      .announcement {
        width: 100%;
      }
    }
  }
}

// **************** ELIGIBILITY STYLES ****************
.eligibility-section {
  width: 100%;
  padding: 5rem;
  margin-top: 5%;
  background-color: aliceblue;
  @include index.res-grid;
  .guidelines {
    width: 100%;
    padding: 1rem;
    @include index.flex-box($flex-dir: column);
    gap: 1rem;
    li {
      width: 70%;
      @include index.flex-box($justify-content: flex-start);
      gap: 0.5rem;
      // color: #191952;
      color: index.$oxford-blue;
      .check-icon {
        color: dodgerblue;
      }
    }
  }
  .heading {
    h2 {
      padding: 1rem;
      font-size: 3rem;
      // color: #191952;
      color: index.$oxford-blue;
      text-align: right;
      text-transform: capitalize;
    }
  }
  @media (width<=1100px) {
    @include index.res-grid(100%);
    gap: 1rem;
    .guidelines {
      order: 2;
    }
    .heading {
      h2 {
        text-align: center;
        font-size: 2rem;
      }
    }
    @media (width<=600px) {
      padding: 3rem;
      .guidelines {
        li {
          width: 100%;
        }
      }
    }
  }
}

// **************** TESTIMONIALS STYLES ****************

.testimony-part {
  width: 100%;
  padding: 2rem;
  @include index.flex-box($flex-dir: column);
  // background: url("/feedback-bg.svg");
  background-size: contain;
  h2 {
    font-size: 3rem;
    // color: #191952;
    color: index.$oxford-blue;
    text-align: center;
  }
  .slick-dots {
    // color: #050523;
    color: index.$oxford-blue;
  }
  .slick-list {
    @include index.flex-box($align-items: flex-start);
  }
  .slick-track {
    @include index.flex-box;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px;
    border-radius: 2px;
    // color: #050523;
    color: index.$oxford-blue;
    &:hover {
      // background-color: #050523;
      background-color: index.$oxford-blue;
    }
  }
  .slick-next {
    right: -15px;
  }
  .slick-slider {
    width: 80%;
    @include index.flex-box;
    height: auto;
    .slick-slide {
      @include index.flex-box;
      flex-wrap: nowrap;
    }
    @media (width<=500px) {
      width: 95%;
    }
    .testimony-box {
      @include index.flex-box;
      padding: 2rem;
      .testimony-header {
        background-color: index.$oxford-blue;
        width: 100%;
        padding: 2rem;
        border-radius: 0.5rem 0.5rem 0 0;
        box-shadow: 5px 5px 5px 5px grey;
      }
      .student-testimony {
        padding: 1rem;
        border-radius: 0 0 0.5rem 0.5rem;
        background-color: white;
        box-shadow: 5px 5px 5px 5px grey;
        .testimony-text {
          padding: 1rem 0;
          font-size: 1.2rem;
          text-align: center;
        }
        .student-name {
          // border-top: 1px solid #050523;
          border-top: 1px solid index.$oxford-blue;
          padding-top: 1rem;
          font-size: 1.1rem;
          text-align: left;
          color: grey;
          font-style: italic;
        }
        @media (width<=500px) {
          .testimony-text,
          .student-name {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  @media (width<500px) {
    h2 {
      width: 70%;
      font-size: 2.3rem;
    }
  }
}

/* **************** FOOTER STYLE ******************* */
.footer {
  width: 100%;
  @include index.flex-box($flex-dir: column, $justify-content: space-between);
  background-color: index.$oxford-blue;
  padding: 1rem;
  .web-details {
    width: 100%;
    @include index.res-grid;
    padding: 2rem;
    .contact-info {
      @include index.flex-box;
      padding: 1rem;
      align-self: flex-start;
      ul {
        @include index.flex-box($flex-dir: column, $align-items: flex-start);
        gap: 1rem;
        li {
          color: #dcdcdc;
          @include index.flex-box;
          gap: 1rem;
          font-size: 1.2rem;
        }
      }
    }
    .web-links {
      width: 100%;
      @include index.flex-box;
      ul {
        @include index.flex-box($flex-dir: column, $align-items: flex-start);
        gap: 0.5rem;
        li {
          @include index.flex-box;
          gap: 1rem;
          font-size: 1.2rem;
          a {
            color: #dcdcdc;
          }
        }
      }
    }
    @media (width<=700px) {
      @include index.res-grid(100%);
      gap: 1rem;
      .contact-info {
        place-self: flex-start;
        ul li {
          font-size: 1.1rem;
        }
      }
      .web-links {
        justify-content: flex-start;
        padding: 1rem;
        border-top: 1px solid grey;
        ul li {
          font-size: 1.1rem;
        }
      }
    }
  }
  .copyright {
    width: 100%;
    @include index.flex-box($flex-dir: column);
    color: #dcdcdc;
    font-size: 1.2rem;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid grey;
    .query {
      width: 100%;
      @include index.res-grid;
      p {
        width: 80%;
      }
      .contact-page {
        width: 100%;
        background: none;
        .contact-form {
          width: 95%;
          color: black;
          box-shadow: none;
        }
      }
    }
    .copy {
      width: 100%;
      font-size: 1rem;
    }
    @media (width<=850px) {
      .query {
        font-size: 1.1rem;
        @include index.res-grid(100%);
        gap: 2rem;
        p {
          margin-top: 5%;
        }
        .contact-page {
          background-size: contain;
        }
      }
    }
  }
}

// ----------------- CONTACT US LINK STYLES ---------------
.contact-us {
  position: fixed;
  bottom: 2%;
  right: 2%;
  // background-color: aliceblue;
  background-color: #050523;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  @include index.flex-box;
  padding: 2%;
  filter: drop-shadow(3px 3px 5px #282727);
  a {
    // width: 100%;
    // color: #050523;
    color: white;
  }
  @media (width<1200px) {
    width: 60px;
    height: 60px;
    // filter: none;
  }
  &:hover {
    scale: 1.1;
  }
}

// --------------------- ERROR COMPONENT ---------------------
.error-div {
  width: 100%;
  @include index.flex-box;
  background-color: #feabbc;
  z-index: 1;
  position: fixed;
  top: 10%;
  padding: 0.5rem;
  transition: all 1s ease;
  p {
    font-size: 1.1rem;
    text-align: center;
    color: crimson;
  }
  .close-modal {
    position: absolute;
    right: 0.2%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    .close-icon {
      font-size: 2rem;
    }
  }
}
