* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  // "Lucida Sans", Arial, sans-serif;
  // font-family: "Poppins", sans-serif;
  font-family: "Playfair Display", serif;
  // font-family: "Inter", sans-serif;
  user-select: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@mixin flex-box(
  $justify-content: center,
  $align-items: center,
  $flex-dir: row
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-dir;
}

@mixin res-grid($col-width: 50%) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($col-width, 1fr));
  place-items: center;
}

@mixin img-setting($width: 100%, $object-fit: contain) {
  width: $width;
  aspect-ratio: 3/2;
  object-fit: $object-fit;
}

@mixin join-btn {
  width: 50%;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: none;
  background: linear-gradient(to right, blue, dodgerblue);
  color: white;
  font-size: 1.1rem;
  display: block;
  margin: 7% auto;
  cursor: pointer;
}

@mixin bg-pattern {
  background-color: #140e3c;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6H6v4H4V6H2V4h2V0h2v4h10V0h2v4h2v2h-2v4h-2V6z' fill='%230a0f55' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

$space-cadet: #2d2d42ff;
$cool-gray: #8d99aeff;
$antiflash-white: #edf2f4ff;
$red-pantone: #ef233cff;
$crimson: #d80032ff;

$red-crayola: #ed254eff;
$naples-yellow: #f9dc5cff;
$tea-green: #c2eabdff;
$oxford-blue: #011936ff;
$charcoal: #465362ff;

// --------------- Confirm Modal Styles -----------------
.confirm-modal-overlay {
  position: fixed;
  width: 100%;
  height: 90%;
  background-color: #1c1c1c46;
  @include flex-box;
  z-index: 500;
  height: 100%;
  top: 0;
  left: 0;
  .confirm-modal {
    width: 27%;
    border-radius: 5px;
    align-self: center;
    @include flex-box($flex-dir: column);
    background-color: white;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px #4140409e;
    p {
      width: 100%;
      font-size: 1.3rem;
      padding: 1.5rem;
      color: black;
      text-align: center;
    }
    .button-group {
      width: 100%;
      border-top: 1px solid grey;
      padding: 1rem;
      @include flex-box($justify-content: space-around);
      .btn-look {
        padding: 0.5rem 1rem;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        font-size: 1.2rem;
      }
      .confirm-btn {
        background-color: #e63023;
        color: white;
        &:hover {
          background-color: #d12929;
        }
      }
      .cancel-btn {
        background-color: #9e9e9e;
        color: white;
        &:hover {
          background-color: #757575;
        }
      }
    }
  }
  @media (width<=1250px) {
    top: 10%;
    .confirm-modal {
      width: 40%;
      @media (width<=900px) {
        width: 60%;
      }
      @media (width<=600px) {
        width: 80%;
      }
    }
  }
}

// -------------- ENROLLMENT CONFIRMATION MODAL -----------------
.seat-sure {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000097;
  @include flex-box;
  z-index: 1000;
  .wait-a-while {
    width: 35%;
    background-color: white;
    border-radius: 5px;
    padding: 2.5rem;
    @include flex-box($flex-dir: column);
    gap: 1rem;
    position: relative;
    .modal-close {
      color: black;
      align-self: flex-end;
      position: absolute;
      top: 3%;
      right: 1%;
      border: none;
      background-color: transparent;
      border-radius: 50px;
      cursor: pointer;
      .close-icon {
        font-size: 2rem;
      }
    }
    h2 {
      width: 100%;
      font-size: 2rem;
      font-weight: 400;
      @include flex-box;
      .check-icon {
        color: green;
        font-size: 3rem;
      }
    }
    p {
      width: 80%;
      text-align: center;
      color: black;
      font-size: 1.05rem;
    }
  }
  @media (width<=1300px) {
    .wait-a-while {
      width: 50%;
      h2 {
        font-size: 1.6rem;
        .check-icon {
          font-size: 2.5rem;
        }
      }
      p {
        width: 100%;
      }
      @media (width<=800px) {
        width: 60%;
      }
      @media (width<=650px) {
        width: 70%;
      }
      @media (width<=600px) {
        width: 80%;
      }
      @media (width<=500px) {
        width: 90%;
      }
    }
  }
}

// -------------------- PDF VIEWER STYLES ---------------------
.pdf-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000097;
  @include flex-box($flex-dir: column);
  z-index: 1000;
  padding: 1rem;
  .loading {
    font-size: 1.2rem;
    width: 60%;
    height: 50%;
    background-color: #ffffff;
    @include flex-box;
    margin: auto;
  }
  .modal-close {
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    @include flex-box;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
  }
  .pdf {
    width: 90%;
    background-color: white;
    margin: auto;
  }
}
