@use "../index.scss" as index;

.about-section {
  width: 100%;
  @include index.flex-box($justify-content: flex-start, $flex-dir: column);
  gap: 2rem;
  background-color: white;
  h2 {
    width: 60%;
    font-size: 3rem;
    color: index.$oxford-blue;
    text-align: center;
    margin-top: 3%;
  }
  h3 {
    width: 50%;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: index.$oxford-blue;
  }
  .about-us {
    width: 80%;
    padding: 3rem;
    border-radius: 5px;
    @include index.flex-box($flex-dir: column);
    text-align: center;
    gap: 3rem;
    padding: 3rem;
    background-color: aliceblue;
    color: index.$oxford-blue;
    p {
      width: 100%;
      font-size: 1.3rem;
    }
  }
  @media (max-width: 1100px) {
    h2 {
      width: 100%;
      font-size: 2.5rem;
    }
    h3 {
      width: 70%;
    }
    .about-us {
      width: 100%;
      padding: 2rem;
    }
  }
  @media (max-width: 500px) {
    padding: 3rem 1.5rem;
    h2,
    h3 {
      width: 80%;
    }
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 0.9rem;
    }
  }
  @media (max-width: 468px) {
    padding: 3rem 1rem;
    gap: 0.5rem;
    h2 {
      width: 100%;
      font-size: 2rem;
    }
    h3 {
      width: 90%;
    }
    .about-us p {
      font-size: 1rem;
    }
  }
  .about-flp {
    width: 100%;
    @include index.res-grid;
    padding: 2rem;
    .about-item {
      margin: 2%;
      width: 80%;
      height: 300px;
      text-align: center;
      background-color: white;
      filter: drop-shadow(5px 5px 5px #c2c2c2ba);
      padding: 2rem;
      border-radius: 5px;
      color: index.$oxford-blue;
      @include index.flex-box($flex-dir: column);
      gap: 1rem;
      position: relative;
      h4 {
        font-size: 2rem;
        color: index.$oxford-blue;
      }
      p {
        font-size: 1rem;
      }
      .decor {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 50px;
        border-radius: 5px 0 100% 100%;
        background-color: index.$lipstick-red;
        @include index.flex-box;
        .icon {
          color: white;
          font-size: 2rem;
        }
      }
      &:nth-child(3) {
        width: 40%;
        grid-column: span 2;
      }
      transition: all 0.4s ease-in-out;
      &:hover {
        scale: 1.02;
      }
    }
    @media (max-width: 1300px) {
      padding: 2rem 0;
      .about-item {
        width: 90%;
        &:nth-child(3) {
          width: 45%;
        }
        @media (max-width: 1100px) {
          width: 90%;
          gap: 0;
          p {
            font-size: 0.9rem;
          }
        }
      }
      @media (max-width: 1000px) {
        @include index.flex-box($flex-dir: column);
        .about-item {
          width: 70%;
          &:nth-child(3) {
            width: 70%;
          }
          @media (max-width: 800px) {
            width: 90%;
            &:nth-child(3) {
              width: 90%;
            }
          }
          @media (max-width: 550px) {
            width: 95%;
            height: 280px;
            filter: drop-shadow(5px 5px 5px #9a99998c);
            h4 {
              font-size: 1.7rem;
            }
            p {
              font-size: 0.8rem;
            }
            &:nth-child(3) {
              width: 95%;
            }
          }
        }
        @media (max-width: 500px) {
          gap: 1.5rem;
        }
      }
    }
  }
  .instructor {
    width: 100%;
    @include index.flex-box($flex-dir: column);
    h4 {
      font-size: 2.5rem;
      color: index.$oxford-blue;
    }
    h5 {
      font-style: italic;
      font-weight: 400;
      font-size: 1.3rem;
    }
    .instructor-qualities {
      width: 100%;
      @include index.flex-box;
      padding: 3rem;
      // height: 200px;
      background-color: white;
      ul {
        width: 70%;
        @include index.flex-box($align-items: flex-start);
        li {
          @include index.flex-box($align-items: flex-start);
          font-size: 1rem;
          gap: 1rem;
          padding: 1rem;
          .label-icon {
            color: index.$lipstick-red;
          }
        }
      }
    }
    @media (width<1300px) {
      .instructor-qualities {
        ul {
          width: 90%;
        }
      }
    }
    @media (width<1100px) {
      background-color: white;
      h4 {
        font-size: 2rem;
      }
      h5 {
        font-size: 1.2rem;
      }
      .instructor-qualities {
        ul {
          width: 90%;
          @include index.res-grid;
          li {
            &:nth-child(3) {
              width: 50%;
              grid-column: span 2;
            }
          }
          @media (width<600px) {
            padding: 1rem;
          }
        }
        @media (max-width: 800px) {
          padding: 1rem;
          ul {
            @include index.flex-box(
              $flex-dir: column,
              $align-items: flex-start
            );
            padding: 1rem;
            li {
              &:nth-child(3) {
                width: 100%;
              }
            }
          }
        }
        @media (max-width: 500px) {
          padding: 1rem 0;
          ul {
            width: 100%;
            padding: 1rem 0;
            li {
              gap: 0.5rem;
              padding: 0.5rem;
            }
          }
        }
      }
    }
    @media (max-width: 468px) {
      h5 {
        font-size: 1.1rem;
      }
      .instructor-qualities {
        ul {
          padding: 2rem 0;
          // gap: 0.5rem;
          // margin-left: 0;
          li {
            font-size: 0.9rem;
            gap: 0.5rem;
          }
        }
      }
    }
  }
}

// ************** REPORTS STYLES *****************
.reports-section {
  width: 100%;
  padding: 2rem;
  border-top: 2px solid #cecccc;
  @include index.res-grid;
  background-color: white;
  .confirm-modal-overlay {
    .confirm-modal {
      width: 30%;
      p {
        padding: 0;
      }
      .button-group {
        padding-bottom: 0;
      }
      @media (width<=900px) {
        width: 60%;
      }
      @media (width<=600px) {
        width: 80%;
      }
    }
  }
  div {
    width: 100%;
    @include index.flex-box($flex-dir: column, $align-items: flex-start);
    gap: 1rem;
    padding: 3rem 1rem;
    .modal-overlay {
      .modal-content {
        align-self: center;
        @media (max-width: 500px) {
          .upload-section {
            padding: 0;
            height: fit-content;
            .design-purpose {
              height: fit-content;
            }
            .form {
              height: fit-content;
            }
          }
        }
      }
    }
    h2 {
      width: 100%;
      font-size: 2.5rem;
      color: index.$oxford-blue;
      text-align: left;
      text-shadow: none;
    }
    h3 {
      width: 100%;
      font-size: 1.1rem;
      text-align: left;
      font-weight: 400;
      color: grey;
      font-style: italic;
      text-shadow: none;
      @media (500px<width<700px) {
        width: 90%;
      }
    }
    .upload-btn {
      padding: 0.5rem;
      font-size: 1.2rem;
      border-radius: 5px;
      border: 2px solid #191952;
      background-color: index.$oxford-blue;
      color: white;
      cursor: pointer;
      filter: drop-shadow(6px 6px #073266);
    }
  }
  .reports {
    padding: 2rem;
    width: 80%;
    @include index.flex-box;
    .error-container {
      @include index.flex-box;
      gap: 0.5rem;
      font-size: 1.2rem;
    }
    ul {
      width: 100%;
      @include index.flex-box($flex-dir: column);
      gap: 1rem;
      li {
        width: 100%;
        border-radius: 5px;
        font-size: 1rem;
        padding: 1rem;
        color: index.$oxford-blue;
        background-color: aliceblue;
        border: 1px solid #c2c2c2;
        @include index.flex-box($justify-content: space-between);
        gap: 1rem;
        transition: scale 0.2s ease;
        &:hover {
          scale: 1.025;
          box-shadow: 5px 5px #c2c2c2;
        }
        .pdf-link {
          width: 100%;
          @include index.flex-box($justify-content: flex-start);
          gap: 1rem;
          color: index.$oxford-blue;
          .report-icon {
            color: index.$oxford-blue;
          }
        }
        button {
          padding: 0.4rem;
          background-color: #ffd0d0;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          .del-icon {
            color: crimson;
          }
        }
      }
    }
  }
  @media (width<=1050px) {
    padding: 1rem;
    @include index.res-grid(100%);
    gap: 2rem;
    div {
      padding: 1rem;
      h2 {
        font-size: 2.3rem;
      }
    }
  }
  @media (width<=600px) {
    gap: 1rem;
    margin-bottom: 2%;
    div {
      h2 {
        width: 100%;
        font-size: 2rem;
      }
      h3 {
        width: 100%;
      }
    }
    .reports {
      width: 90%;
      padding: 0.5rem;
    }
  }
  @media (max-width: 500px) {
    // background-color: pink;
    padding: 2rem 0;
    margin-bottom: 0;
    div {
      padding: 0;
    }
    .reports {
      width: 100%;
    }
  }
}

// --------------------- PDF VIEWER STYLES ---------------------
.pdf-viewer {
  width: 100%;
  height: 100vh;
  max-width: 80vh;
  overflow: auto;
  border: 1px solid #ddd;
}

// --------------------- GLIMPSES STYLES ---------------------
.glimpse-section {
  width: 100%;
  @include index.flex-box($flex-dir: column);
  gap: 2rem;
  h2 {
    font-size: 3rem;
    color: index.$oxford-blue;
    text-align: center;
    text-shadow: none;
    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }
  .glimpses {
    width: 80%;
    column-width: 300px;
    column-gap: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    .glimpse {
      width: 100%;
      break-inside: avoid;
      // padding: 1rem;
      margin-bottom: 1.5rem;
      filter: drop-shadow(5px 5px 5px grey);
      border-radius: 5px;
      position: relative;
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
        grid-row: span auto;
        background-color: grey;
      }
      h6 {
        left: 3%;
        bottom: 3%;
        font-size: 1.5rem;
        color: white;
        position: absolute;
        z-index: 3;
        transition: transform 0.3s ease-in;
        transform: translateY(30%);
        opacity: 0;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20vh;
        border-radius: 0 0 5px 5px;
        transition: opacity 0.3s ease-in;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
        opacity: 0;
      }
      &:hover::after {
        opacity: 1;
      }
      &:hover {
        h6 {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
    @media (max-width: 468px) {
      width: 100%;
    }
  }
}
