@use "../index.scss" as index;

@mixin french-flag {
  background: conic-gradient(darkblue, darkblue, crimson, darkblue);
  color: transparent;
  background-clip: text;
}

@mixin card-look {
  background-color: white;
  border-radius: 5px;
  border: 2px solid #e7e7e7;
  filter: drop-shadow(10px 30px 30px gray);
}

.about-section {
  width: 100%;
  padding: 3rem;
  @include index.flex-box($justify-content: flex-start, $flex-dir: column);
  gap: 2rem;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23020821' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  // background: url("/pattern-randomized.svg");
  // background-size: contain;
  // background-repeat: no-repeat;
  background-color: white;
  h2 {
    width: 60%;
    font-size: 3rem;
    color: index.$oxford-blue;
    text-align: center;
  }
  h3 {
    width: 60%;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: grey;
  }
  .about-us {
    width: 80%;
    padding: 3rem;
    border-radius: 5px;
    @include index.flex-box($flex-dir: column);
    text-align: center;
    gap: 3rem;
    padding: 3rem;
    background-color: aliceblue;
    color: index.$oxford-blue;
    p {
      width: 100%;
      font-size: 1.3rem;
      font-style: italic;
    }
  }
  @media (width<=1100px) {
    h2 {
      width: 100%;
      font-size: 2.5rem;
    }
    h3 {
      width: 90%;
      font-size: 1.3rem;
    }
    .about-us {
      width: 100%;
      padding: 2rem;
    }
  }
  @media (width<=500px) {
    padding: 3rem 1rem;
    h2,
    h3 {
      width: 80%;
    }
    h2 {
      font-size: 2.3rem;
    }
    h3 {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 468px) {
    h2 {
      font-size: 2rem;
    }
    h3 {
      width: 75%;
      font-size: 1.1rem;
    }
    .about-us p {
      font-size: 1.1rem;
    }
  }
  .instructor {
    width: 100%;
    @include index.flex-box($flex-dir: column);
    gap: 1rem;
    padding: 3rem;
    h4 {
      font-size: 3rem;
      color: index.$oxford-blue;
    }
    h5 {
      font-size: 1.4rem;
      font-style: italic;
      color: grey;
      font-weight: 400;
    }
    ul {
      width: 90%;
      @include index.flex-box;
      padding: 2rem;
      margin-left: 5%;
      // background-color: aliceblue;
      // border-radius: 5px;
      li {
        @include index.flex-box($align-items: flex-start);
        font-size: 1.1rem;
        gap: 1rem;
        padding: 2rem;
        border-right: 1px solid grey;
        &:nth-last-of-type(1) {
          border-right: none;
        }
        .tick-style {
          color: dodgerblue;
        }
      }
    }
    @media (width<1300px) {
      padding: 1rem;
      ul {
        width: 100%;
      }
    }
    @media (width<1100px) {
      gap: 0;
      background-color: aliceblue;
      border-radius: 5px;
      h4 {
        font-size: 2rem;
      }
      h5 {
        font-size: 1.2rem;
      }
      ul {
        flex-direction: column;
        align-items: flex-start;
        li {
          border-right: none;
          padding: 0.5rem;
        }
        @media (width<600px) {
          padding: 1rem;
        }
      }
    }
    @media (max-width: 468px) {
      h5 {
        font-size: 1.1rem;
      }
      ul {
        padding: 2rem 0;
        gap: 0.5rem;
        margin-left: 0;
        li {
          font-size: 0.9rem;
          gap: 0.5rem;
        }
      }
    }
  }
}

// ************** REPORTS STYLES *****************
.reports-section {
  width: 100%;
  padding: 2rem;
  border-top: 2px solid #cecccc;
  @include index.res-grid;
  // background: url("pattern-randomized.svg");
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: white;
  .confirm-modal-overlay {
    .confirm-modal {
      width: 30%;
      p {
        padding: 0;
      }
      .button-group {
        padding-bottom: 0;
      }
      @media (width<=900px) {
        width: 60%;
      }
      @media (width<=600px) {
        width: 80%;
      }
    }
  }
  div {
    width: 100%;
    @include index.flex-box($flex-dir: column, $align-items: flex-start);
    gap: 1rem;
    padding: 3rem 1rem;
    .modal-overlay {
      .modal-content {
        align-self: center;
      }
    }
    h2 {
      width: 100%;
      font-size: 2.5rem;
      color: index.$oxford-blue;
      text-align: left;
    }
    h3 {
      width: 100%;
      font-size: 1.2rem;
      text-align: left;
      font-weight: 400;
      color: grey;
      font-style: italic;
      @media (500px<width<700px) {
        width: 90%;
      }
    }
    .upload-btn {
      padding: 0.5rem;
      font-size: 1.2rem;
      border-radius: 5px;
      border: 2px solid #191952;
      // background-color: #090950;
      background-color: index.$oxford-blue;
      color: white;
      cursor: pointer;
      filter: drop-shadow(6px 6px #073266);
    }
  }
  .reports {
    padding: 2rem;
    width: 80%;
    @include index.flex-box;
    .error-container {
      @include index.flex-box;
      gap: 0.5rem;
      font-size: 1.2rem;
    }
    ul {
      width: 100%;
      @include index.flex-box($flex-dir: column);
      gap: 1rem;
      li {
        width: 100%;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 1rem;
        color: index.$oxford-blue;
        background-color: aliceblue;
        border: 1px solid grey;
        @include index.flex-box($justify-content: space-between);
        gap: 1rem;
        transition: scale 0.2s ease;
        &:hover {
          scale: 1.025;
          box-shadow: 5px 5px grey;
          border-color: grey;
        }
        .pdf-link {
          @include index.flex-box;
          gap: 1rem;
          color: black;
        }
        button {
          padding: 0.4rem;
          background-color: #ffd0d0;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          .del-icon {
            color: crimson;
          }
        }
      }
    }
  }
  @media (width<=1050px) {
    padding: 1rem;
    @include index.res-grid(100%);
    gap: 2rem;
    div {
      padding: 1rem;
      h2 {
        font-size: 2.3rem;
      }
    }
  }
  @media (width<=500px) {
    gap: 2rem;
    div {
      h2 {
        width: 100%;
        font-size: 2rem;
      }
      h3 {
        width: 100%;
        font-size: 1.2rem;
      }
    }
    .reports {
      width: 100%;
      padding: 0.5rem;
    }
  }
  @media (max-width: 468px) {
    div {
      h3 {
        font-size: 1.1rem;
      }
    }
    .reports {
      ul li {
        font-size: 1rem;
      }
    }
  }
}

// --------------------- PDF VIEWER STYLES ---------------------
.pdf-viewer {
  width: 100%;
  height: 100vh;
  max-width: 80vh;
  overflow: auto;
  border: 1px solid #ddd;
}

// --------------------- GLIMPSES STYLES ---------------------
.glimpse-section {
  width: 100%;
  @include index.flex-box($flex-dir: column);
  gap: 2rem;
  h2 {
    font-size: 2.5rem;
    color: index.$oxford-blue;
    text-align: center;
    @media (max-width: 500px) {
      font-size: 2rem;
    }
  }
  .glimpses {
    width: 80%;
    column-width: 350px;
    column-gap: 1.5rem;
    // background-color: pink;
    padding: 1rem;
    // border: 1px solid #e7e7e7;
    border-radius: 5px;
    // box-shadow: 5px 5px 15px grey;
    div {
      width: 100%;
      break-inside: avoid;
      // padding: 1rem;
      margin-bottom: 1.5rem;
      filter: drop-shadow(5px 5px 5px grey);
      border-radius: 5px;
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
        grid-row: span auto;
        background-color: grey;
      }
    }
    @media (max-width: 468px) {
      width: 100%;
    }
  }
}
