@use "../index.scss" as index;

// --------------------- SIGNUP STYLES ---------------------------
.signup-section {
  width: 100%;
  height: 90vh;
  // background: linear-gradient(120deg, #050523, #131398);
  background-color: index.$oxford-blue;
  @include index.res-grid;
  @media (width<1100px) {
    @include index.res-grid(100%);
    height: fit-content;
    padding: 1rem;
    .signup-form {
      border-radius: 5px;
    }
  }
  .signup-greet {
    @include index.flex-box($align-items: flex-end, $flex-dir: column);
    gap: 1rem;
    padding: 1rem;
    color: white;
    h2 {
      width: 70%;
      text-align: right;
      font-size: 3rem;
      font-weight: 400;
      text-transform: capitalize;
      background: linear-gradient(12deg, gray, white, gray);
      background-clip: text;
      color: transparent;
    }
    .acc-already {
      font-size: 1.1rem;
      a {
        width: 50%;
        @include index.flex-box;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        margin: 1rem 0 0 auto;
        transition: background-color 500ms;
        &:hover {
          background-color: #050524;
        }
      }
    }
    @media (width<=1100px) {
      @include index.flex-box(
        $justify-content: center,
        $align-items: center,
        $flex-dir: column
      );
      h2 {
        text-align: center;
        width: 60%;
        font-size: 2.5rem;
      }
      .acc-already {
        a {
          margin: 2rem auto;
        }
      }
    }
    @media (width<=600px) {
      h2 {
        width: 90%;
        font-size: 2rem;
      }
      .acc-already {
        font-size: 1rem;
      }
    }
  }
  .signup-form {
    width: 80%;
    height: 100%;
    padding: 1rem;
    background-color: white;
    place-self: flex-end;
    @include index.flex-box($flex-dir: column);
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      color: black;
      padding-bottom: 5%;
    }
    form {
      width: 70%;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      label {
        margin: 0.3rem 0 0.3rem 0;
        font-size: 1.2rem;
      }
      .signup-inputs,
      select {
        width: 100%;
        padding: 0.7rem;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(160, 160, 160);
        font-size: 1.1rem;
      }
      .signup-btn {
        width: 100%;
        // background: linear-gradient(100deg, #131398, dodgerblue);
        background-color: index.$red-crayola;
        font-size: 1.2rem;
        border: none;
        padding: 0.7rem;
        border-radius: 0.3rem;
        color: white;
        margin: 1.2rem auto 0 auto;
        cursor: pointer;
        &:hover {
          background-color: index.$crimson;
        }
      }
    }
    @media (width<1100px) {
      place-self: center;
      width: 65%;
      h2 {
        font-size: 1.8rem;
      }
      form {
        width: 80%;
      }
    }
    @media (width<=600px) {
      width: 90%;
      h2 {
        font-size: 2rem;
      }
      form {
        width: 95%;
        label {
          font-size: 1.2rem;
        }
      }
    }
  }
  @media (max-width: 468px) {
    .signup-greet {
      h2 {
        font-size: 1.6rem;
      }
      .acc-already {
        font-size: 0.9rem;
        // background-color: pink;
        a {
          gap: 0.4rem;
          width: 70%;
          font-size: 1rem;
        }
      }
    }
    .signup-form {
      width: 100%;
      h2 {
        font-size: 1.8rem;
      }
      form {
        label,
        .signup-inputs,
        select {
          font-size: 1rem;
        }
        .signup-btn {
          font-size: 1rem;
        }
      }
    }
  }
}

// *************** LOGIN STYLES *********************
.login-section {
  width: 100%;
  height: 90vh;
  // background: linear-gradient(120deg, #050523, #131398);
  background-color: index.$oxford-blue;
  @include index.flex-box;
  .login-part {
    width: 45%;
    @include index.res-grid;
    border-radius: 5px;
    border: 5px solid white;
    .welcome-back {
      width: 100%;
      height: 100%;
      padding: 1rem;
      color: white;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      // background-image: linear-gradient(to top, #00000000, #000000b3),
      //   url("../assets/images/museum.jpg");
      // background-position: center;
      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%230a0f55' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      color: #050523;
      border-right: 2px solid #050523;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .login-form {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 1rem 2rem;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      h2 {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      label {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      input {
        width: 100%;
        border-radius: 0.2rem;
        border: 1px solid rgb(173, 170, 170);
        padding: 0.5rem;
        outline: 1px solid grey;
        margin-bottom: 1rem;
        font-size: 1.1rem;
      }
      .login-btn {
        width: 100%;
        // background: linear-gradient(to right, #131398, dodgerblue);
        background-color: index.$red-crayola;
        font-size: 1.4rem;
        border: none;
        padding: 0.6rem;
        border-radius: 0.3rem;
        color: white;
        margin-top: 1.2rem;
        cursor: pointer;
      }
    }
    @media (width<=1200px) {
      width: 60%;
    }
    @media (width<=900px) {
      @include index.res-grid(100%);
      .welcome-back {
        border-right: none;
        border-bottom: 2px solid #050523;
      }
    }
    @media (width<700px) {
      width: 70%;
    }
    @media (width<=500px) {
      width: 90%;
    }
  }
  @media (max-width: 468px) {
    .login-part {
      .welcome-back {
        padding: 2rem 1rem;
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .login-form {
        padding: 0.5rem 1rem;
        h2 {
          font-size: 2rem;
        }
        input,
        label {
          font-size: 1rem;
        }
        .login-btn {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// ------------------ REGISTER STYLES ---------------------
.register-page {
  width: 100%;
  min-height: 90vh;
  height: 90vh;
  @include index.flex-box($flex-dir: column, $justify-content: flex-start);
  // background: linear-gradient(150deg, #050523, #131398);
  background-color: index.$oxford-blue;
  .progress-bar {
    width: 100%;
    height: 0.5vh;
    border-radius: 5px;
    @include index.flex-box($justify-content: flex-start);
    gap: 2rem;
    background-color: grey;
    .progress {
      width: 0;
      height: 100%;
      border-radius: 5px;
      background-color: #ff9900;
      transition: width 2s ease-in-out;
    }
    .progress[style*="100%"] {
      background-color: #4caf50;
    }
  }
  .register-form {
    width: 45%;
    @include index.flex-box($flex-dir: column);
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
    .register-heading {
      font-size: 2rem;
      text-align: center;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    form {
      width: 100%;
      @include index.flex-box($flex-dir: column);
      padding: 1rem;
      .form-inputs {
        width: 100%;
        @include index.res-grid;
        padding: 0.5rem 0;
        div {
          width: 100%;
          @include index.flex-box($align-items: flex-start, $flex-dir: column);
          label {
            font-size: 1.3rem;
          }
          input {
            width: 99.5%;
            padding: 0.6rem;
            border-radius: 5px;
            border: 0.1rem solid #a4a0a0;
            font-size: 1.1rem;
          }
        }
        @media (width<=500px) {
          @include index.res-grid(100%);
        }
      }
      label {
        font-size: 1.3rem;
        align-self: flex-start;
        margin: 2% 0 1% 0;
      }
      select {
        width: 100%;
        padding: 0.6rem;
        border-radius: 0.4rem;
        font-size: 1.1rem;
      }
      .register-btn {
        padding: 0.5rem;
        margin: 2rem auto 1rem auto;
        width: 40%;
        font-size: 1.2rem;
        border-radius: 0.4rem;
        border: none;
        color: white;
        // background: linear-gradient(to right, #131398, dodgerblue);
        background-color: index.$red-crayola;
        cursor: pointer;
        @media (width<=500px) {
          width: 50%;
        }
      }
    }
    @media (width<=1200px) {
      width: 60%;
    }
    @media (width<=900px) {
      width: 80%;
    }
    @media (width<=700px) {
      width: 90%;
    }
    @media (max-width: 468px) {
      .register-heading {
        font-size: 1.6rem;
      }
      form {
        .form-inputs {
          div {
            label {
              font-size: 1rem;
            }
            input {
              font-size: 1rem;
            }
          }
        }
        label,
        select {
          font-size: 1rem;
        }
        .register-btn {
          font-size: 1rem;
        }
      }
    }
  }
  .qr-part {
    width: 100%;
    padding: 1rem;
    height: 80%;
    @include index.res-grid;
    margin: auto;
    p {
      width: 70%;
      text-align: right;
      color: white;
      font-size: 1.1rem;
    }
    .payment-container {
      width: 100%;
      padding: 1rem;
      height: 100%;
      @include index.flex-box($flex-dir: column);
      gap: 1rem;
      .qr-code {
        width: 50%;
        height: 100%;
        background-color: white;
        border-radius: 15px;
        position: relative;
        cursor: pointer;
        transition: transform 1s ease-in-out;
        transform-style: preserve-3d;
        div {
          width: 100%;
          height: 100%;
          background-color: white;
          border-radius: 5px;
          @include index.flex-box;
          position: absolute;
          backface-visibility: hidden;
          p {
            @include index.flex-box;
            gap: 0.5rem;
            color: #0e6dcc;
          }
        }
      }
      .flip-card {
        transform: rotateY(180deg);
      }
      .show-qr {
        background: url("../assets/images/qr-code.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        // transform: scaleX(-1);
        transform: rotateY(180deg);
      }
      .payment-confirmation {
        @include index.flex-box;
        gap: 0.5rem;
        .upload-btn {
          padding: 0.6rem 0.7rem;
          border-radius: 50px;
          background-color: #050523;
          background-color: index.$naples-yellow;
          font-size: 1.1rem;
          border: 2px solid transparent;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: white;
            color: black;
          }
        }
        .payment-btn {
          @include index.flex-box;
          border-radius: 50px;
          border: 2px solid transparent;
          padding: 0.5rem 0.7rem;
          font-size: 1.05rem;
          gap: 0.5rem;
          margin: 0 auto;
          background-color: white;
          color: black;
          transition: all 0.2s ease-in-out;
          cursor: pointer;
          .check-icon {
            color: green;
          }
          &:hover {
            background-color: green;
            color: white;
            .check-icon {
              color: white;
            }
          }
        }
        .not-allowed {
          cursor: not-allowed;
        }
      }
    }
  }
  @media (width<=1250px) {
    height: 70vh;
    .qr-part {
      @include index.res-grid(100%);
      height: 90%;
      p {
        text-align: center;
      }
      .payment-container {
        .qr-code {
          width: 35%;
          height: 50vh;
          @media (width<=1150px) {
            width: 40%;
          }
          @media (width<=940px) {
            width: 50%;
          }
          @media (width<=800px) {
            width: 60%;
          }
          @media (width<=500px) {
            width: 70%;
          }
        }
      }
      @media (max-width: 468px) {
        p {
          font-size: 1rem;
        }
        .payment-container {
          padding: 0;
          .qr-code {
            width: 100%;
          }
          .payment-confirmation {
            width: 100%;
            .upload-btn,
            .payment-btn {
              width: 100%;
              font-size: 0.9rem;
            }
            .payment-btn {
              gap: 0;
              padding: 0.4rem 0.7rem;
            }
          }
        }
      }
    }
  }
}

// ----------------- USER-DASHBOARD STYLES --------------------
.user-dashboard {
  width: 100%;
  height: 90vh;
  @include index.flex-box;
  .side-bar {
    width: 20%;
    height: 100%;
    @include index.flex-box($flex-dir: column, $justify-content: flex-start);
    padding: 1rem;
    gap: 2rem;
    color: index.$oxford-blue;
    .user-profile {
      font-size: 10rem;
      @include index.img-setting;
    }
    ul {
      width: 80%;
      @include index.flex-box($flex-dir: column, $align-items: flex-start);
      gap: 1rem;
      .fname {
        width: 100%;
        @include index.flex-box($justify-content: space-between);
        .female {
          color: magenta;
        }
        .male {
          color: orange;
        }
      }
      li {
        padding: 0.5rem 0;
      }
      a {
        width: 100%;
        color: index.$oxford-blue;
        padding: 0.5rem 0;
        border-bottom: 2px solid index.$oxford-blue;
      }
    }
  }
  .main-part {
    width: 80%;
    height: 100%;
    background-color: white;
    color: index.$oxford-blue;
    .user-courses {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      border: 2px solid #dcdbdb;
      background-color: white;
      color: index.$oxford-blue;
      h2 {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem;
      }
      .courses {
        .course {
          filter: drop-shadow(5px 5px 5px grey);
        }
      }
    }
  }
}
