@use "../index.scss" as index;

// *************** LOGIN STYLES *********************

.login-section {
  width: 100%;
  height: 90vh;
  background: linear-gradient(120deg, #050523, #131398);
  @include index.flex-box;
  .login-part {
    width: 45%;
    @include index.res-grid;
    border-radius: 5px;
    border: 5px solid white;
    @media (width<=1200px) {
      width: 55%;
    }
    @media (width<=900px) {
      @include index.res-grid(100%);
    }
    @media (width<700px) {
      width: 70%;
    }
    @media (width<=500px) {
      width: 90%;
    }
    .welcome-back {
      width: 100%;
      height: 100%;
      position: relative;
      background-image: linear-gradient(to top, #00000000, #000000b3),
        url("../assets/images/museum.jpg");
      background-size: cover;
      background-position: center;
      z-index: 1;
      padding: 1rem;
      color: white;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #00000080;
        z-index: -1;
      }
    }
    .login-form {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 1rem;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      h2 {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      label {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      input {
        width: 100%;
        border-radius: 0.2rem;
        border: 1px solid rgb(173, 170, 170);
        padding: 0.5rem;
        outline: 1px solid grey;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
      .login-btn {
        width: 100%;
        background: linear-gradient(to right, #131398, dodgerblue);
        font-size: 1.4rem;
        border: none;
        padding: 0.6rem;
        border-radius: 0.3rem;
        color: white;
        margin-top: 1.2rem;
        cursor: pointer;
      }
    }
  }
}
