@use "../index.scss" as index;

// *************** LOGIN STYLES *********************

.login-section {
  width: 100%;
  height: 90vh;
  background: linear-gradient(120deg, #050523, #131398);
  @include index.flex-box;
  .login-part {
    width: 45%;
    @include index.res-grid;
    border-radius: 5px;
    border: 5px solid white;
    .welcome-back {
      width: 100%;
      height: 100%;
      padding: 1rem;
      color: white;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      // background-image: linear-gradient(to top, #00000000, #000000b3),
      //   url("../assets/images/museum.jpg");
      // background-position: center;
      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%230a0f55' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
      color: #050523;
      border-right: 2px solid #050523;
      h2 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
    .login-form {
      width: 100%;
      height: 100%;
      background-color: white;
      padding: 1rem 2rem;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      h2 {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      label {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      input {
        width: 100%;
        border-radius: 0.2rem;
        border: 1px solid rgb(173, 170, 170);
        padding: 0.5rem;
        outline: 1px solid grey;
        margin-bottom: 1rem;
        font-size: 1.1rem;
      }
      .login-btn {
        width: 100%;
        background: linear-gradient(to right, #131398, dodgerblue);
        font-size: 1.4rem;
        border: none;
        padding: 0.6rem;
        border-radius: 0.3rem;
        color: white;
        margin-top: 1.2rem;
        cursor: pointer;
      }
    }
    @media (width<=1200px) {
      width: 60%;
    }
    @media (width<=900px) {
      @include index.res-grid(100%);
      .welcome-back {
        border-right: none;
        border-bottom: 2px solid #050523;
      }
    }
    @media (width<700px) {
      width: 70%;
    }
    @media (width<=500px) {
      width: 90%;
    }
  }
}
