@use "../index.scss" as index;

.olympiads-section {
  width: 100%;
  height: 90vh;
  @include index.flex-box;
  background: url("/olympiad-bg.svg");
  background-size: contain;
  background-position: center;
  .olympiad-part {
    width: 100%;
    @include index.flex-box($justify-content: space-around, $flex-dir: column);
    gap: 2rem;
    .olym-heading {
      font-size: 2rem;
      font-weight: 400;
      padding: 1rem;
      margin-top: 1%;
    }
    .olym-info {
      width: 100%;
      padding: 2rem;
      @include index.res-grid;
      div {
        @include index.flex-box($flex-dir: column);
        gap: 4rem;
        font-size: 1.4rem;
        text-align: center;
        padding: 1rem;
        font-style: italic;
        p {
          width: 50%;
          color: #050523;
          text-align: center;
          @include index.flex-box($flex-dir: column);
          font-size: 1.3rem;
        }
        blockquote {
          color: grey;
          font-size: 1.2rem;
        }
      }
      .olympiad {
        width: 100%;
        background-color: transparent;
        @include index.flex-box;
        border-radius: 0.4rem;
        .olym-img {
          width: 50%;
          height: 40vh;
          @include index.flex-box;
          font-size: 2rem;
          // border-radius: 80% 20% 80% 20%;
          // border-radius: 20% 80% 20% 80%;
          box-shadow: 5px 5px 5px grey;
          background: linear-gradient(120deg, #191970, #afeeee);
          a {
            @include index.flex-box;
            gap: 0.5rem;
            color: white;
            span {
              margin-bottom: 3%;
              font-size: 4rem;
            }
          }
          @media (width<=500px) {
            font-size: 1.3rem;
            a {
              span {
                font-size: 2.7rem;
              }
            }
          }
        }
      }
    }
  }
  @media (width<=900px) {
    height: auto;
    .olympiad-part {
      .olym-info {
        gap: 3rem;
        div {
          p {
            width: 80%;
          }
        }
        .olympiad {
          width: 85%;
        }
      }
    }
  }
}
