@use "../index.scss" as index;

.olympiads-section {
  width: 100%;
  height: 90vh;
  @include index.res-grid;
  .olym-decor {
    width: 100%;
    height: 100%;
    @include index.flex-box;
    padding: 2rem;
    img {
      width: 100%;
      height: 80%;
      object-fit: contain;
      aspect-ratio: 3/2;
    }
  }
  .olympiad-part {
    width: 70%;
    height: 70vh;
    // padding: 2rem 1rem;
    border-radius: 5px;
    @include index.flex-box($flex-dir: column);
    gap: 1rem;
    .olym-heading {
      font-size: 3rem;
      text-align: center;
      color: index.$oxford-blue;
      @media (max-width: 1400px) {
        width: 100%;
        font-size: 2.5rem;
      }
    }
    .olym-info {
      @include index.flex-box($flex-dir: column);
      gap: 1.5rem;
      font-size: 1.4rem;
      text-align: center;
      padding: 1rem;
      font-style: italic;
      color: index.$oxford-blue;
      background-color: transparent;
      .grades-heading {
        font-size: 1.3rem;
        color: index.$oxford-blue;
      }
      .criteria {
        width: 90%;
        @include index.flex-box;
        border: 2px solid index.$oxford-blue;
        border-radius: 5px;
        box-shadow: 5px 5px index.$oxford-blue;
        .grades {
          width: 100%;
          border-right: 2px solid index.$oxford-blue;
          padding: 0.5rem 0.7rem;
        }
        .grade5 {
          // background-color: #e3f2fd;
          background-color: #fae3e3;
        }
        .grade6 {
          // background-color: #90caf9;
          background-color: #e4a9a8;
        }
        .grade7 {
          // background-color: #42a5f5;
          background-color: #d46a6a;
        }
        .grade8 {
          // background-color: #1565c0;
          background-color: #a63838;
        }
      }
      p {
        width: 50%;
        color: #050523;
        text-align: center;
        @include index.flex-box($flex-dir: column);
        font-size: 1.2rem;
        color: index.$oxford-blue;
      }
      blockquote {
        color: grey;
        font-size: 1.1rem;
      }
    }
    a {
      @include index.flex-box;
      gap: 0.5rem;
      font-size: 1.2rem;
      background-color: white;
      background-color: index.$oxford-blue;
      border-radius: 50px;
      color: whitesmoke;
      padding: 0.4rem 1rem;
      border: none;
      transition: all 0.5s ease-in-out;
      .dbl-right {
        font-size: 2rem;
      }
    }
    @media (width <=1200px) {
      width: 80%;
      .olym-heading {
        font-size: 2rem;
      }
      .olym-info {
        .grades-heading {
          font-size: 1.1rem;
        }
        p {
          font-size: 1.1rem;
          width: 80%;
        }
        blockquote {
          font-size: 1.05rem;
        }
      }
      a {
        font-size: 1.2rem;
      }
    }
  }
  @media (width<=1100px) {
    @include index.res-grid(100%);
    height: auto;
    padding: 2rem;
    .olympiad-part {
      height: auto;
      width: 60%;
      .olym-info {
        gap: 1rem;
      }
      .olym-img {
        width: 50%;
      }
      a {
        border-radius: 50px;
      }
    }
    .olym-decor {
      width: 80%;
    }
  }
  @media (max-width: 900px) {
    .olympiad-part {
      width: 80%;
    }
    .olym-decor {
      width: 90%;
    }
  }
  @media (max-width: 650px) {
    .olympiad-part {
      width: 90%;
    }
    .olym-decor {
      width: 100%;
    }
  }
  @media (width<=550px) {
    padding: 1rem;
    .olympiad-part {
      width: 100%;
      padding: 2rem 1rem;
      .olym-heading {
        font-size: 1.7rem;
      }
      .criteria {
        .grades {
          font-size: 1.1rem;
        }
      }
      .olym-img {
        font-size: 1.8rem;
        a {
          span {
            font-size: 2.7rem;
          }
        }
      }
      a {
        padding: 0.3rem 1rem;
        font-size: 1.1rem;
      }
    }
  }
  @media (max-width: 468px) {
    .olympiad-part {
      background-color: transparent;
      padding: 2rem 0;
      filter: none;
      .olym-info {
        padding: 1rem 0;
        .grades-heading {
          font-size: 1.1rem;
        }
        .criteria {
          border-radius: 5px;
          // border: none;
          box-shadow: none;
          .grades {
            font-size: 1rem;
            // border: none;
            // border-radius: 5px 0 0 5px;
          }
        }
        p {
          font-size: 1.1rem;
        }
        blockquote {
          font-size: 1rem;
        }
      }
      a {
        font-size: 1rem;
        .dbl-right {
          font-size: 1.5rem;
        }
      }
    }
    .olym-decor {
      width: 100%;
      img {
        object-fit: cover;
        aspect-ratio: none;
      }
    }
  }
}
