@use "../index" as index;

.register-page {
  width: 100%;
  height: 90vh;
  @include index.flex-box;
  background: linear-gradient(150deg, #050523, #131398);
  .register-form {
    width: 45%;
    @include index.flex-box($flex-dir: column);
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    .register-heading {
      font-size: 2rem;
      text-align: center;
      font-weight: 400;
      margin-bottom: 2rem;
    }
    form {
      width: 100%;
      @include index.flex-box($flex-dir: column);
      padding: 1rem;
      .form-inputs {
        width: 100%;
        @include index.res-grid;
        padding: 0.5rem 0;
        div {
          width: 100%;
          @include index.flex-box($align-items: flex-start, $flex-dir: column);
          label {
            font-size: 1.5rem;
          }
          input {
            width: 99.5%;
            padding: 0.6rem;
            border-radius: 5px;
            border: 0.1rem solid #a4a0a0;
            font-size: 1.2rem;
          }
        }
        @media (width<=500px) {
          @include index.res-grid(100%);
        }
      }
      label {
        font-size: 1.5rem;
        align-self: flex-start;
        margin: 2% 0 1% 0;
      }
      select {
        width: 100%;
        padding: 0.6rem;
        border-radius: 0.4rem;
        font-size: 1.2rem;
      }
      .register-btn {
        padding: 0.5rem;
        margin: 2rem auto 1rem auto;
        width: 40%;
        font-size: 1.2rem;
        border-radius: 0.4rem;
        border: none;
        color: white;
        background: linear-gradient(to right, rgb(19, 19, 152), dodgerblue);
        @media (width<=500px) {
          width: 50%;
        }
      }
    }
    @media (width<=1200px) {
      width: 60%;
    }
    @media (width<=900px) {
      width: 80%;
    }
    @media (width<=700px) {
      width: 90%;
    }
  }
}

.qr-part {
  width: 100%;
  height: 90vh;
  /* background-color:#f1faee; */
  /* background-color: pink; */
  display: grid;
  align-items: center;
  justify-content: center;
}

.qr-code {
  /* width: 80%; */
  /* height: 80vh; */
  /* background-color: white; */
  padding: 0.4rem;
  font-size: 1.5rem;
}
