@use "../index.scss" as index;

.signup-section {
  width: 100%;
  height: 90vh;
  background: linear-gradient(120deg, #050523, #131398);
  @include index.res-grid;
  @media (width<1000px) {
    @include index.res-grid(100%);
    height: fit-content;
    padding: 1rem;
    .signup-form {
      border-radius: 5px;
    }
  }
  .signup-greet {
    @include index.flex-box($align-items: flex-end, $flex-dir: column);
    gap: 1rem;
    padding: 1rem;
    color: white;
    h2 {
      width: 70%;
      text-align: right;
      font-size: 3rem;
      font-weight: 400;
      text-transform: capitalize;
      background: linear-gradient(12deg, gray, white, gray);
      background-clip: text;
      color: transparent;
    }
    .acc-already {
      font-size: 1.2rem;
      a {
        width: 50%;
        @include index.flex-box;
        gap: 0.5rem;
        padding: 0.5rem;
        border: 2px solid white;
        border-radius: 5px;
        color: white;
        margin: 1rem 0 0 auto;
        transition: background-color 500ms;
        &:hover {
          background-color: #131398;
        }
      }
    }
    @media (width<1000px) {
      @include index.flex-box($flex-dir: column);
      h2 {
        text-align: center;
        width: 60%;
        font-size: 2.5rem;
      }
      .acc-already {
        a {
          margin: 2rem auto;
        }
      }
    }
    @media (width<=600px) {
      h2 {
        width: 90%;
        font-size: 2rem;
      }
      .acc-already {
        font-size: 1rem;
      }
    }
  }
  .signup-form {
    width: 80%;
    height: 100%;
    padding: 1rem;
    background-color: white;
    place-self: flex-end;
    @include index.flex-box($flex-dir: column);
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      color: black;
    }
    form {
      width: 70%;
      @include index.flex-box($align-items: flex-start, $flex-dir: column);
      label {
        margin: 0.3rem 0 0.3rem 0;
        font-size: 1.7rem;
      }
      .signup-inputs,
      select {
        width: 100%;
        padding: 0.7rem;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(160, 160, 160);
        font-size: 1.1rem;
      }
      .signup-btn {
        width: 100%;
        background: linear-gradient(100deg, #131398, dodgerblue);
        font-size: 1.3rem;
        border: none;
        padding: 0.7rem;
        border-radius: 0.3rem;
        color: white;
        margin: 1.2rem auto 0 auto;
        cursor: pointer;
      }
    }
    @media (width<1000px) {
      place-self: center;
      width: 65%;
      h2 {
        font-size: 1.8rem;
      }
      form {
        width: 80%;
      }
    }
    @media (width<=600px) {
      width: 90%;
      h2 {
        font-size: 2rem;
      }
      form {
        width: 95%;
        label {
          font-size: 1.2rem;
        }
      }
    }
  }
}
