@use "../index.scss" as idx;

// ------------------- PAGE NOT FOUND STYLES ------------------
.page-not-found {
  width: 100%;
  height: 90vh;
  @include idx.flex-box($flex-dir: column);
  gap: 1rem;
  background-color: aliceblue;
  @include idx.bg-pattern;
  color: whitesmoke;
  h1 {
    font-size: 9rem;
    font-family: monospace;
    background: linear-gradient(120deg, grey, #bebbbb, white);
    background-clip: text;
    color: transparent;
  }
  p {
    font-size: 1.2rem;
    font-family: monospace;
  }
  .btns {
    border-radius: 0.3rem;
    a {
      font-size: 1.5rem;
      font-family: monospace;
      @include idx.flex-box;
      gap: 0.5rem;
      // color: black;
      color: whitesmoke;
    }
  }
}

// ------------------- PAGE NOT FOUND STYLES ------------------
.status-page {
  width: 100%;
  height: 90vh;
  padding: 1rem;
  background: url("/olympiad-bg.svg");
  background-size: contain;
  @include idx.flex-box;
  .error-section {
    @include idx.flex-box($flex-dir: column);
    gap: 1rem;
    .error-icon {
      color: #ff9800;
      // color: #ffc110;
      // color: #2196f3;
      font-size: 6rem;
    }
    p {
      font-size: 1.2rem;
      font-family: monospace;
    }
  }
  .loading-section {
    @include idx.flex-box($flex-dir: column);
    gap: 1rem;
    p {
      font-size: 1.2rem;
      font-family: monospace;
    }
    .loading-icon {
      @include idx.flex-box;
      gap: 1rem;
      .circle {
        width: 7%;
        animation: scale-up 1s infinite;
        &:nth-of-type(1) {
          animation-delay: 0.2s;
        }
        &:nth-of-type(2) {
          animation-delay: 0.8s;
        }
        &:nth-of-type(3) {
          animation-delay: 1.4s;
        }
      }
    }
  }
  @media (max-width: 468px) {
    .error-section {
      .error-icon {
        font-size: 4rem;
      }
      p {
        font-size: 1rem;
      }
    }
    .loading-section {
      p {
        font-size: 1rem;
      }
    }
  }
}

@keyframes scale-up {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.5;
  }
  100% {
    scale: 1;
  }
}
