@use "../index.scss" as index;

@mixin collection {
  @include index.flex-box($flex-dir: column, $align-items: flex-start);
  width: 100%;
  height: 100%;
}

@mixin collection-heading {
  width: 100%;
  // height: 10%;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid #c2c2c2;
}

@mixin collection-body {
  width: 100%;
  height: 90%;
  @include index.flex-box(
    $align-items: flex-start,
    $justify-content: flex-start,
    $flex-dir: column
  );
  gap: 1rem;
  overflow-y: scroll;
  padding: 1rem 0;
}

@mixin table-heading {
  font-size: 1.2rem;
  // border-bottom: 1px solid black;
  padding: 0.7rem;
  font-weight: 400;
  border-radius: 2px;
  // text-transform: uppercase;
  // background-color: grey;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin table-body {
  font-size: 1.2rem;
  // border-right: 1px solid index.$oxford-blue;
  border-bottom: 1px solid index.$oxford-blue;
  border-left: 1px solid index.$oxford-blue;
  padding: 0.5rem;
  text-transform: capitalize;
  color: index.$oxford-blue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@mixin email-link {
  text-transform: none;
  color: #0909ac;
}

@mixin del-btn {
  @include index.flex-box;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
  background-color: transparent;
  color: crimson;
  border: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  &:hover {
    background-color: crimson;
    color: white;
  }
}

@mixin del-btn-2 {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: #fdc9d3;
  color: crimson;
  transition: all 500ms ease;
  &:hover {
    border-color: crimson;
    background-color: crimson;
    color: white;
  }
}

.admin-panel {
  width: 100%;
  height: 90vh;
  min-height: 90vh;
  background-color: white;
  @include index.flex-box;
  .side-bar {
    width: 20%;
    padding: 1rem;
    height: 100%;
    border: 1px solid grey;
    @include index.flex-box($flex-dir: column, $justify-content: space-around);
    background-color: index.$oxford-blue;
    color: white;
    h2 {
      font-size: 2rem;
      font-weight: 400;
    }
    .admin-navbar {
      @include index.flex-box;
      width: 100%;
      ul {
        width: 60%;
        @include index.flex-box($flex-dir: column);
        gap: 1rem;
        padding: 1rem;
        li {
          width: 100%;
          a {
            width: 100%;
            @include index.flex-box($flex-dir: column);
            border: 2px solid grey;
            border-radius: 5px;
            padding: 0.5rem;
            color: index.$oxford-blue;
            transition: all 200ms ease-in-out;
            color: white;
            &:hover {
              background-color: white;
              color: index.$oxford-blue;
            }
          }
          .active-collection {
            background-color: white;
            color: black;
          }
        }
      }
    }
  }
  .admin-collections {
    width: 80%;
    height: 100%;
    // padding: 1rem;
    // border: 1px solid #c2c2c2;
    border: none;
    border-radius: 0 5px 5px 0;
    // box-shadow: 2px 2px 2px #e7e7e7;
    // filter: drop-shadow(4px 4px 4px #c2c2c2);
    @include index.flex-box;
    background-color: white;
    // **************** ADMIN USERS *******************
    .admin-users {
      @include collection;
      padding: 1rem;
      .confirm-modal-overlay {
        height: 100%;
        top: 0;
        left: 0;
      }
      h2 {
        @include collection-heading;
      }
      .all-users {
        @include collection-body;
        .user {
          width: 100%;
          background-color: white;
          border-radius: 5px;
          filter: drop-shadow(5px 5px 5px #d6d6d6);
          thead {
            tr {
              th {
                @include table-heading;
                background-color: index.$oxford-blue;
              }
            }
          }
          tbody {
            tr {
              // filter: drop-shadow(2px 2px 2px #c2c2c2);
              box-shadow: 2px 2px 2px #e0e0e0;
              td {
                @include table-body;
                border: none;
                font-size: 1.05rem;
                // border-top: 1px solid #c2c2c2;
                &:nth-last-child(1) {
                  border-right: none;
                }
              }
              .ph-no {
                text-align: right;
              }
              .email-link {
                a {
                  @include email-link;
                }
              }
              .enrolled-courses {
                padding: 0;
                background-color: aliceblue;
                ul {
                  li {
                    padding: 0.3rem;
                    @include index.flex-box($justify-content: flex-start);
                    gap: 0.5rem;
                    font-family: "Trebuchet MS", "Lucida Sans Unicode",
                      "Lucida Grande", "Lucida Sans", Arial, sans-serif;
                  }
                  .expanded-courses {
                    max-height: 0;
                    padding: 0;
                    transition: max-height 0.2s ease-in-out,
                      padding 0.2s ease-in-out;
                    .expand-more {
                      transition: transform 0.2s ease-in;
                    }
                    &.active .expand-more {
                      transform: rotate(180deg);
                    }
                    li {
                      font-size: 1rem;
                      opacity: 0;
                    }
                    &.open {
                      max-height: 100%;
                      padding: 0.5rem 0 0.5rem 0;
                      li {
                        opacity: 1;
                        background-color: aliceblue;
                        border-top: 1px solid white;
                      }
                    }
                  }
                }
              }
              .no-courses {
                font-size: 1rem;
                padding: 1rem 0.2rem;
              }
            }
            .buttons {
              .del-btn {
                @include del-btn-2;
              }
            }
          }
        }
      }
    }
  }
  @media (width<=1300px) {
    flex-direction: column;
    height: auto;
    .side-bar {
      width: 100%;
      border: none;
      .admin-navbar {
        ul {
          width: 100%;
          padding: 2rem;
          flex-direction: row;
          justify-content: space-evenly;
          li {
            a {
              padding: 1rem;
            }
          }
        }
        @media (width<800px) {
          ul {
            @include index.res-grid(45%);
            li {
              width: 100%;
            }
          }
        }
      }
    }
    .admin-collections {
      width: 100%;
      border: 1px solid grey;
      .admin-users {
        @media (width<=900px) {
          .all-users {
            .user {
              tbody {
                tr {
                  td {
                    font-size: 1.1rem;
                  }
                  .enrolled-courses {
                    ul li {
                      width: 30vw;
                      font-size: 1rem;
                      @media (width<=500px) {
                        width: 35vw;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// ******************* ADMIN COURSES *********************
.admin-courses {
  @include collection;
  h2 {
    @include collection-heading;
    padding-top: 1rem;
  }
  .all-courses {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    padding: 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .course {
      width: 100%;
      height: fit-content;
      background-color: white;
      color: index.$oxford-blue;
      border-radius: 7px;
      filter: drop-shadow(5px 5px 5px #bfbfbf);
      h3 {
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: capitalize;
        color: white;
        background-color: index.$oxford-blue;
        padding: 1rem;
        border-radius: 5px 5px 0 0;
        border: 1px solid #c0c0c0;
      }
      .course-body {
        border-radius: 0 0 5px 5px;
        @include index.flex-box($flex-dir: column, $align-items: flex-start);
        gap: 0.2rem;
        padding: 1rem;
        font-size: 1.2rem;
      }
      .course-footer {
        @include index.flex-box;
        gap: 1rem;
        border-top: 1px solid black;
        padding: 0.2rem;
        button,
        a {
          padding: 0.5rem;
        }
        .op-btns {
          color: white;
          border: none;
          border-radius: 5px;
          background-color: transparent;
        }
        .del-btn {
          color: crimson;
          &:hover {
            background-color: #ffd2db;
          }
        }
        .edit-btn {
          color: dodgerblue;
          &:hover {
            background-color: #c3dffb;
          }
        }
      }
    }
    .add-course {
      background-color: #8080804a;
      height: 227px;
      border-radius: 5px;
      border: 2px solid #c2c2c2;
      padding: 1rem;
      @include index.flex-box;
      a {
        @include index.flex-box($flex-dir: column);
        font-size: 1.2rem;
        gap: 0.5rem;
        color: index.$oxford-blue;
      }
    }
    @media (width<=800px) {
      height: 90vh;
      grid-template-columns: repeat(2, 1fr);
      .course {
        .course-body {
          font-size: 1.1rem;
        }
      }
    }
    @media (width<=600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// ************** COURSE UPDATE FORM ***************
.update-section {
  width: 100%;
  padding: 1rem;
  height: 100%;
  @include index.flex-box($flex-dir: column);
  gap: 0.5rem;
  background-color: whitesmoke;
  h2 {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 400;
  }
  form {
    width: 40%;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    border: 2px solid #e7e7e7;
    @include index.flex-box($flex-dir: column);
    gap: 2rem;
    filter: drop-shadow(5px 5px 5px #c2c2c2);
    div {
      width: 100%;
      label {
        width: 100%;
        font-size: 1.3rem;
        color: black;
      }
      input {
        width: 100%;
        padding: 0.5rem;
        outline: none;
        border: none;
        font-size: 1.3rem;
        border-radius: 5px;
        border: 1px solid grey;
        margin-top: 2%;
      }
    }
    button {
      padding: 0.6rem 1.5rem;
      border-radius: 5px;
      border: none;
      background-color: index.$oxford-blue;
      color: white;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
  @media (width<1000px) {
    form {
      width: 90%;
      @media (width<500px) {
        padding: 1.5rem;
        width: 100%;
      }
    }
  }
}

// ************** ADMIN REGISTRATIONS ***************
.admin-registrations {
  @include collection;
  h2 {
    @include collection-heading;
  }
  .all-registrations {
    @include collection-body;
    padding: 1rem;
    .registration {
      width: 100%;
      background-color: white;
      border-radius: 5px;
      filter: drop-shadow(5px 5px 5px #d6d6d6);
      thead {
        tr {
          th {
            @include table-heading;
            background-color: index.$oxford-blue;
          }
        }
      }
      tbody {
        tr {
          box-shadow: 2px 2px 2px #e0e0e0;
          td {
            @include table-body;
            border: none;
            font-size: 1.05rem;
            span {
              width: 100%;
              .email-link {
                @include email-link;
              }
            }
            &:nth-last-child(1) {
              border-right: none;
            }
            .del-btn {
              @include del-btn;
              font-size: 1.05rem;
            }
          }
          .green {
            background-color: #65ff65;
            color: white;
          }
          .red {
            background-color: #ff7c97;
            color: white;
          }
          .pending {
            background-color: #ffdd9d;
          }
          .paid {
            background-color: #aae3a7;
          }
          &:hover {
            background-color: #00000015;
          }
          .operation {
            .del-btn {
              margin: auto;
            }
          }
          @media (width<900px) {
            td {
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}

// ************** ADMIN CONTACTS ***************
.admin-contacts {
  @include collection;
  h2 {
    @include collection-heading;
  }
  .all-contacts {
    @include collection-body;
    .contact {
      width: 100%;
      background-color: white;
      border-radius: 5px;
      color: index.$oxford-blue;
      filter: drop-shadow(5px 5px 5px #d6d6d6);
      thead {
        tr {
          th {
            @include table-heading;
            background-color: index.$oxford-blue;
          }
        }
      }
      tbody {
        tr {
          td {
            @include table-body;
            font-size: 1.05rem;
            border: none;
            .del-btn {
              @include del-btn;
              font-size: 1rem;
            }
          }
          .email-link {
            @include email-link;
          }
          &:hover {
            background-color: #00000015;
          }
        }
      }
    }
  }
}

// ************** ADMIN FEEDBACKS ***************
.admin-feedbacks {
  @include collection;
  h2 {
    @include collection-heading;
  }
  .all-feedbacks {
    @include collection-body;
    padding: 1rem;
    border: none;
    .feedback {
      width: 100%;
      background-color: white;
      border-radius: 5px;
      filter: drop-shadow(5px 5px 5px #d6d6d6);
      thead {
        tr {
          th {
            @include table-heading;
            background-color: index.$oxford-blue;
          }
        }
      }
      tbody {
        tr {
          box-shadow: 2px 2px 2px #e0e0e0;
          td {
            @include table-body;
            border: none;
            font-size: 1.05rem;
            .del-btn {
              @include del-btn-2;
            }
          }
          .email-link {
            @include email-link;
          }
          .content {
            font-size: 1.05rem;
          }
          &:hover {
            background-color: #00000015;
          }
        }
      }
    }
  }
}

// ************** PAYMENT STYLES ***************
.admin-payments {
  @include collection;
  h2 {
    @include collection-heading;
  }
  .all-payments {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    padding: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @include index.res-grid(calc(100% / 4));
    place-items: flex-start;
    gap: 3rem;
    .payment {
      height: fit-content;
      background-color: white;
      border-radius: 5px;
      filter: drop-shadow(5px 5px 5px #c2c2c2);
      .payment-body {
        img {
          @include index.img-setting($object-fit: contain);
        }
      }
      .payment-footer {
        @include index.res-grid;
        .op-btns {
          width: 100%;
          border: none;
          padding: 0.3rem;
          @include index.flex-box;
          font-size: 1.1rem;
          gap: 0.5rem;
          transition: 0.2s;
          cursor: pointer;
        }
        .approve-btn {
          // background-color: green;
          color: green;
          border-radius: 0 0 5px 0;
          &:hover {
            background-color: green;
            color: white;
          }
          .check-icon {
            font-size: 1.8rem;
          }
        }
        .del-btn {
          color: crimson;
          border-radius: 0 0 0 5px;
          &:hover {
            background-color: crimson;
            color: white;
            .op-icon {
              color: white;
            }
          }
          .op-icon {
            font-size: 1.8rem;
            color: crimson;
          }
        }
      }
    }
    @media (width<=1000px) {
      grid-template-columns: repeat(2, 1fr);
      .payment {
        .payment-footer {
          .op-btns {
            font-size: 1rem;
            .op-icon,
            .check-icon {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    @media (width<=600px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// ************** MODAL STYLES ***************
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000097;
  @include index.flex-box;
  z-index: 500;
  .modal-content {
    padding: 5rem;
    border-radius: 5px;
    width: 60%;
    height: 65%;
    position: relative;
    @include index.flex-box;
    .modal-close {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 35px;
      height: 35px;
      background: black;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 50%;
      font-size: 1.8rem;
    }
    // ************** ADMIN UPLOADS ***************
    .upload-section {
      width: 100%;
      height: 100%;
      // padding: 0.5rem;
      @include index.flex-box;
      align-self: center;
      .design-purpose {
        width: 40%;
        height: 100%;
        padding: 1rem;
        border-radius: 5px 0 0 5px;
        @include index.bg-pattern;
        color: white;
        font-size: 1.5rem;
      }
      form {
        width: 60%;
        height: 100%;
        @include index.flex-box($flex-dir: column, $align-items: flex-start);
        gap: 2rem;
        padding: 1rem;
        background-color: white;
        border-radius: 0 5px 5px 0;
        input {
          width: 100%;
          padding: 0.5rem;
          font-size: 1.2rem;
          border-radius: 5px;
          border: 1px solid grey;
        }
        button {
          font-size: 1.2rem;
          cursor: pointer;
          border-radius: 5px;
          padding: 0.5rem 1rem;
          background: #06065f;
          border: 2px solid #050543;
          color: white;
          @include index.flex-box;
          gap: 0.5rem;
          .file-upload {
            color: white;
          }
        }
      }
    }
  }
  @media (width<1300px) {
    .modal-content {
      width: 80%;
      padding: 3rem;
      .upload-section {
        padding: 1rem;
      }
      @media (width<950px) {
        width: 100%;
        padding: 5rem;
        .modal-close {
          top: 10px;
          right: 10px;
        }
      }
      @media (width<700px) {
        padding: 5rem 1rem;
        .upload-section {
          flex-direction: column;
          .design-purpose {
            width: 100%;
            padding: 2rem;
            text-align: center;
            border-radius: 5px 5px 0 0;
          }
          form {
            width: 100%;
            border-radius: 0 0 5px 5px;
            align-items: center;
          }
        }
      }
    }
  }
}
