@use "../index" as index;

// background: linear-gradient(160deg, #0033a0, #7ea8d9, #f0f0f0);
// background: linear-gradient(120deg, #050523, #08084e, #b8b4b4);
// background: linear-gradient(150deg, #4169e1, #d3d3d3, #4682b4);

// ************** COURSE DETAILS *****************
.box {
  width: 100%;
  padding: 1.5rem 0;
  height: 90vh;
  @include index.flex-box;
  // background: url("/olympiad-bg.svg");
  background: url("/blue-blob.png") no-repeat;
  background-size: cover;
  .course-details {
    width: 90%;
    height: 100%;
    @include index.flex-box;
    padding: 1rem;
    // background-color: pink;
    @media (max-width: 468px) {
      width: 95%;
    }
    .slick-dots {
      color: index.$oxford-blue;
    }
    .slick-list {
      @include index.flex-box;
    }
    .slick-track {
      width: 100%;
      height: 100%;
      @include index.flex-box;
    }
    .slick-prev:before,
    .slick-next:before {
      font-size: 30px;
      border-radius: 2px;
      color: index.$oxford-blue;
      &:hover {
        background-color: index.$oxford-blue;
      }
    }
    .slick-next {
      right: -3%;
    }
    .slick-slider {
      width: 100%;
      // height: 60vh;
      @include index.flex-box;
      .slick-slide {
        width: 100%;
        // @include index.flex-box;
        margin: 1%;
        .course-item {
          width: 80%;
          background-color: white;
          border-radius: 0.5rem;
          filter: drop-shadow(5px 5px 5px #c2c2c2);
          transition: all 0.3s ease-in;
          padding: 0 1rem;
          .course-img {
            width: 100%;
            height: 30vh;
            border-radius: 0.5rem 0.5rem 0 0;
            padding: 1rem;
            font-size: 1.7rem;
            @include index.flex-box;
            color: #f4f4f4;
            background: url("books.svg") center/contain no-repeat;
          }
          .course-info {
            @include index.flex-box($flex-dir: column);
            padding: 0.8rem;
            border-top: 1px solid #c2c2c2;
            .course-data {
              width: 100%;
              @include index.flex-box($flex-dir: column);
              .course-name {
                width: 100%;
                font-size: 1.4rem;
                text-transform: capitalize;
                @media (width<=1040px) {
                  font-size: 1.2rem;
                }
              }
              .age-group,
              .duration {
                width: 100%;
                font-size: 1.25rem;
                display: flex;
                justify-content: space-between;
                margin: 4% 0;
                text-transform: capitalize;
                @media (width<=1040px) {
                  font-size: 1.1rem;
                }
              }
              .age-group {
                @include index.flex-box($justify-content: space-between);
              }
              .fee,
              .mode {
                background: linear-gradient(to right, black, grey);
                background-clip: text;
                color: transparent;
                font-size: 1.2rem;
                align-self: first baseline;
              }
            }
            .btn-container {
              width: 100%;
              @include index.flex-box($justify-content: space-between);
              gap: 0.5rem;
              .join-btn,
              .show-btn {
                text-align: center;
                @include index.join-btn;
                background: index.$oxford-blue;
                padding: 0.5rem;
                color: white;
                border: 1px solid transparent;
                transition: all 0.3s ease-in;
                text-transform: uppercase;
              }
              .join-btn {
                &:hover {
                  background-color: transparent;
                  color: index.$oxford-blue;
                  border-color: index.$oxford-blue;
                }
              }
              .show-btn {
                background-color: transparent;
                border: 1px solid index.$oxford-blue;
                color: index.$oxford-blue;
                &:hover {
                  background-color: index.$antiflash-white;
                }
              }
            }
          }
        }
      }
    }
    @media (width<=1280px) {
      @include index.res-grid;
      gap: 2rem;
    }
    @media (max-width: 1000px) {
      height: fit-content;
      .slick-slider .slick-slide {
        margin: 0.5% 3%;
        @media (max-width: 800px) {
          margin: 0.5% 2.5%;
        }
        @media (max-width: 700px) {
          margin: 0.5% 1.5%;
        }
        @media (max-width: 600px) {
          margin: 0.5% 1%;
        }
        @media (max-width: 520px) {
          margin: 0.5% 0.5%;
        }
        .course-item {
          height: fit-content;
          @media (max-width: 480px) {
            .course-info {
              .course-data {
                .course-name {
                  font-size: 1.1rem;
                }
                .age-group {
                  font-size: 1rem;
                }
                .duration {
                  font-size: 1rem;
                }
                .fee,
                .mode {
                  font-size: 1rem;
                }
              }
              .btn-container {
                .join-btn,
                .show-btn {
                  font-size: 0.9rem;
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ***************** EACH COURSES ***********************
.course-page {
  width: 100%;
  @include index.flex-box($flex-dir: column);
  .course-part {
    width: 100%;
    height: 90vh;
    @include index.flex-box($align-items: flex-start, $flex-dir: column);
    gap: 0.5rem;
    padding: 4rem 2rem;
    // background-color: index.$oxford-blue;
    // color: white;
    color: index.$oxford-blue;
    background: url("/intro1.svg") right/contain no-repeat;
    h2 {
      font-size: 3rem;
      text-transform: capitalize;
      margin-bottom: 2%;
      color: index.$oxford-blue;
      text-shadow: 5px 5px #d2d2d2;
    }
    p {
      // width: 50%;
      font-size: 1.2rem;
      &:nth-of-type(2) {
        font-size: 1.1rem;
        color: grey;
        font-style: italic;
      }
    }
    .desc {
      width: 43%;
      font-size: 1.1rem;
      margin: 1% 0 0.5% 0;
      background-color: #ffffffde;
      padding: 1rem 0;
      border-radius: 5px;
      ul {
        @include index.flex-box($flex-dir: column, $align-items: flex-start);
        gap: 0.5rem;
        li {
          // width: 70%;
          @include index.flex-box($justify-content: flex-start);
          gap: 0.5rem;
          // .check-icon {
          // filter: drop-shadow(5px 5px 1px black);
          // }
        }
      }
    }
    .further-info {
      width: 100%;
      @include index.flex-box($flex-dir: column, $align-items: flex-start);
      .syllabus {
        width: 100%;
        font-size: 1.05rem;
        font-style: italic;
        margin-top: 1rem;
        a {
          padding: 0.5rem;
          color: index.$oxford-blue;
          text-decoration: underline;
        }
        .crud-btns {
          padding: 0.4rem 0.5rem;
          border: none;
          cursor: pointer;
        }
        .upload-btn {
          background-color: index.$naples-yellow;
          border-radius: 100px;
          transition: all 0.3s ease-in-out;
          .edit-syllabus-icon {
            color: index.$oxford-blue;
          }
          &:hover {
            background-color: rgb(6, 39, 78);
            .edit-syllabus-icon {
              color: white;
            }
          }
        }
        .update-btn {
          background-color: #ffc107;
          &:hover {
            background-color: #e4ae0b;
          }
        }
      }
      // .contact-link {
      //   margin: 0.5% 0;
      //   @include index.flex-box($justify-content: flex-start);
      //   color: #050523;
      //   color: white;
      //   gap: 0.2rem;
      // }
    }
    .course-links {
      width: 30%;
      @include index.flex-box($justify-content: flex-start);
      gap: 1rem;
      a {
        width: 40%;
        text-align: center;
        border: 2px solid index.$oxford-blue;
        border-radius: 5px;
        padding: 0.5rem;
        transition: all 500ms;
        background-color: index.$oxford-blue;
        color: white;
        &:hover {
          background-color: transparent;
          color: index.$oxford-blue;
        }
      }
    }
    @media (width<=1200px) {
      p {
        width: 90%;
        font-size: 1.1rem;
      }
      .course-links {
        width: 40%;
        @media (width<=900px) {
          width: 50%;
        }
        @media (width<=750px) {
          width: 80%;
          a {
            width: 60%;
            margin-top: 5%;
          }
        }
      }
    }
    @media (width<=500px) {
      h2 {
        font-size: 2.5rem;
      }
      .desc {
        margin-top: 5%;
        ul {
          gap: 0.7rem;
          li {
            font-size: 1rem;
          }
        }
      }
    }
  }
  .feedback-part {
    width: 100%;
    height: 90vh;
    @include index.res-grid;
    padding: 1rem;
    .feedback-form {
      width: 70%;
      padding: 1rem;
      background-color: white;
      // filter: drop-shadow(5px 5px 5px grey);
      box-shadow: 3px 3px 5px 5px #bab9b9;
      border-radius: 5px;
      form {
        width: 100%;
        @include index.flex-box($flex-dir: column);
        // border: 1px solid black;
        border-radius: 5px;
        h2 {
          width: 100%;
          text-align: center;
          font-size: 1.2rem;
          letter-spacing: 0.2rem;
          padding: 1rem;
          font-weight: 400;
          text-transform: capitalize;
          // border-radius: 5px 5px 0 0;
          // background-color: index.$oxford-blue;
          // border-bottom: 1px solid black;
          // color: white;
        }
        .rating-box {
          @include index.flex-box;
          gap: 1rem;
          padding: 1rem;
          div {
            @include index.flex-box;
            gap: 0.3rem;
            padding: 0.5rem;
            // background-color: pink;
            input {
              transform: scale(2);
              position: relative;
              opacity: 0;
              &:checked {
                scale: 1.2;
              }
            }
            label {
              position: absolute;
              cursor: pointer;
              .star-icon {
                font-size: 2.5rem;
                color: #e8e813;
                filter: drop-shadow(2px 2px grey);
                transition: all 0.2s ease;
                &:hover {
                  scale: 1.2;
                  transform: translateY(-10%);
                }
              }
            }
          }
          @media (width<=1300px) {
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 0.5rem;
          }
        }
        .feedback-box {
          width: 100%;
          padding: 1rem;
          @include index.flex-box($flex-dir: column, $align-items: flex-start);
          textarea {
            width: 100%;
            padding: 1rem;
            font-size: 1.1rem;
            border-radius: 5px;
            resize: none;
            outline: none;
          }
        }
        .feedback-btn {
          padding: 0.7rem;
          border-radius: 5px;
          font-size: 1.1rem;
          margin-bottom: 3%;
          border: none;
          background-color: index.$oxford-blue;
          color: white;
          cursor: pointer;
        }
      }
    }
    .review-img {
      width: 100%;
      @include index.flex-box;
      img {
        width: 80%;
      }
    }
    @media (width<=900px) {
      @include index.res-grid(100%);
      gap: 2rem;
      .feedback-form {
        width: 90%;
      }
    }
  }
  .feedbacks {
    width: 100%;
    @include index.flex-box;
    padding: 2rem;
    border-radius: 5px;
    .feedback {
      width: 80%;
      padding: 1rem;
      @include index.flex-box(
        $flex-dir: column,
        $justify-content: space-around
      );
      gap: 1rem;
      h2 {
        font-size: 2rem;
        font-weight: 400;
      }
      .no-reviews {
        text-align: center;
        width: 70%;
        font-size: 1.05rem;
      }
      .slick-dots {
        color: #050523;
      }
      .slick-list {
        @include index.flex-box($align-items: flex-start);
      }
      .slick-track {
        @include index.flex-box;
      }
      .slick-prev:before,
      .slick-next:before {
        font-size: 30px;
        border-radius: 2px;
        color: #050523;
        &:hover {
          background-color: #050523;
        }
      }
      .slick-prev {
        left: -50px;
      }
      .slick-next {
        right: -38px;
      }
      .slick-slider {
        width: 100%;
        // background-color: plum;
        @include index.flex-box;
        padding: 1rem;
        filter: drop-shadow(5px 5px 5px grey);
        .slick-slide {
          flex-wrap: nowrap;
          div {
            width: 100%;
            @include index.flex-box($flex-dir: column);
            gap: 1rem;
            border-radius: 5px;
            padding: 1rem;
            background-color: white;
            .stars {
              align-self: flex-start;
            }
            .star-styles {
              font-size: 2rem;
              color: #e8e813;
              filter: drop-shadow(2px 2px grey);
            }
            .content {
              margin: 2% 0;
              font-size: 1.1rem;
              @media (width< 500px) {
                font-size: 1rem;
              }
            }
            .user {
              align-self: flex-start;
              font-style: italic;
              color: grey;
            }
          }
        }
      }
      @media (width<500px) {
        width: 100%;
        padding: 0.5rem;
      }
    }
  }
}
