.feedback-part {
    width: 100%;
    /* height: 70vh; */
    /* background-color: rgba(220, 216, 216, 0.442); */
    background-color: #f1faee;
    box-sizing: border-box;
  }
  
  .feedback-part h2 {
    text-align: center;
    /* text-transform: uppercase; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 10px 10px 15px rgb(82, 82, 140);
    letter-spacing: 0.4rem;
  }
  
  .feedback-box{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #c1121f; */
  }
  
  .feedback-box .feedback{
    width: 80%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    /* background-color: plum; */
  }

  .feedback .student-img {
    width: 25%;
    height: 80%;
    background-color: antiquewhite;
    box-shadow: 5px 5px 10px grey;
    border-radius: 50%;
  }
  
  .feedback .student-feedback{
    width: 40%; 
    height: 35vh;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 5px 5px 10px grey;
  }
  
  .student-img{
    border-radius: .4rem;
  }
  
  .student-img img{
    width: 100%;
    height: 100%;
    border-radius: .4rem;
    border-radius: 50%;
    /* object-fit: contain; */
    /* aspect-ratio: 3/2; */
  }
  
  .student-feedback .feedback-text{
    padding: 2rem;
    font-size: 1.3rem;
    text-align: center;
  }

  /* .feedback-card {
    width: 28vw;
    height: 35vh;
    margin-bottom: 1.6%;
    background-color: #f1faee;
    background-color: white;
    border: 2px solid rgb(213, 210, 210);
    border-radius: 5px;
    filter: drop-shadow(10px 10px 5px rgb(31, 31, 50));
  }
   */