// @import "../index.scss";
@use "../index" as index;

// background-color: #f1faee;
// border-radius: 30% 70% 30% 70%/ 30% 30% 70% 70%;
// background-color: #dcd8d871;
// background-color: #a9c8e3;

/* ************ INTRO PART ************ */
.intro-part {
  @include index.res-grid;
  width: 100%;
  height: 90vh;
  .explore-france {
    @include index.flex-box;
    padding: 2rem;
    .map {
      border: 1px solid #c7c5c5;
      filter: drop-shadow(5px 5px 5px grey);
      border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
      img {
        @include index.img-setting($object-fit: cover);
        border-radius: 30% 70% 70% 30%/ 30% 30% 70% 70%;
      }
    }
  }
  .motive {
    width: 100%;
    padding: 1rem;
    text-align: right;
    @include index.flex-box($align-items: flex-end, $flex-dir: column);
    .greeting {
      color: #050523;
      text-transform: capitalize;
      padding: 1rem;
      font-size: 5rem;
      // background: linear-gradient(to right,#050523,#13579b,#050523);
      // color: transparent;
      // background-clip: text;
      color: #191952;
    }
    .aim {
      padding: 1rem;
      font-size: 1.2rem;
      color: #050523;
      text-transform: capitalize;
    }
  }
}

/* ************** DETAILS PART **************** */
.details-part {
  width: 100%;
  padding: 1rem;
  @include index.res-grid($col-width: 100%);
  .collab-heading {
    font-weight: 400;
    letter-spacing: 0.7rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 10px 10px 20px #52528c;
  }
  .collab {
    width: 100%;
    padding: 3rem 0;
    @include index.res-grid;
    .partners {
      width: 80%;
      padding: 1rem;
      box-shadow: 10px 10px 10px grey;
      border-radius: 0.4rem;
      img {
        @include index.img-setting;
      }
    }
  }
}

@media (width<=1000px) {
  .intro-part {
    @include index.res-grid($col-width: 100%);
    height: fit-content;
    .explore-france {
      order: 2;
    }
    .motive {
      @include index.flex-box($flex-dir: column);
      text-align: center;
      .aim {
        width: 80%;
        font-size: 1.4rem;
      }
    }
  }
  .details-part {
    .collab {
      @include index.res-grid($col-width: 100%);
      gap: 2rem;
    }
  }
  @media (width<=700px) {
    .details-part {
      .collab-heading {
        width: 60%;
        font-size: 1.5rem;
        @media (width<=600px) {
          width: 80%;
        }
      }
      .collab {
        .partners {
          width: 90%;
          height: 25vh;
          @media (width<=500px) {
            width: 100%;
            height: 23vh;
          }
        }
      }
    }
  }
}

/* COURSES */
/* .course{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2vw;
    row-gap: 5vh;
    width: 100%;
    margin-bottom: 2%;
    height: 140vh;
    overflow-y: hidden;
    background-color: rgb(19, 44, 44);
    background-color: rgba(220, 216, 216, 0.442);
    background-color: #f1faee; 
} */

/* .course-item{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 40vw;
    height: 35vh;
    margin: 5% auto auto 9.5%;
} */

.decor {
  /* background-color: cornflowerblue; */
  /* background: linear-gradient(rgb(226, 20, 20),rgb(218, 25, 25),rgb(252, 64, 64)); */
  background-color: #c1121f;
  width: 20vw;
  height: auto;
  border-radius: 5px 0 0 5px;
  border: 2px solid rgb(220, 218, 218);
  border-right: none;
}

.details {
  /* background-color: rgba(214, 204, 204, 0.75); */
  /* background-color: whitesmoke; */
  background-color: white;
  width: 20vw;
  height: auto;
  border-radius: 0 5px 5px 0;
  padding-inline-start: 2%;
  position: relative;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid rgb(220, 218, 218);
  border-left: none;
}

.details p {
  font-size: 2.5rem;
  font-weight: none;
  text-transform: uppercase;
}

.details span {
  font-size: 1.2rem;
}

#join-btn {
  width: 7vw;
  padding: 2%;
  color: white;
  border-radius: 5px;
  font-size: 1.3rem;
  border: none;
  position: absolute;
  bottom: 5vh;
  left: 6.5vw;
  background-color: rgb(6, 6, 42);
  cursor: pointer;
}

#join-btn:hover {
  background-color: transparent;
  border: 2px solid rgb(6, 6, 42);
  color: rgb(6, 6, 42);
  transform: scale(1.005);
  /* transition-duration: 500ms; */
}

// ****************** FEEDBACK STYLES *********************

.feedback-part {
  @include index.flex-box($flex-dir: column);
  h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 10px 10px 15px rgb(82, 82, 140);
    letter-spacing: 0.4rem;
  }
  .feedback-box {
    width: 100%;
    @include index.flex-box;
    padding: 2rem;
    // background-color: #c1121f;
    .feedback {
      width: 50%;
      @include index.flex-box;
      background-color: plum;
      box-shadow: 5px 5px 10px grey;
      border-radius: 0.5rem;
      img {
        @include index.img-setting($width: 30%, $object-fit: cover);
        height: 100%;
        border-radius: 0.5rem 0 0 0.5rem;
      }
      .student-feedback {
        padding: 1rem;
        border-radius: 0 0.5rem 0.5rem 0;
        background-color: white;
        .feedback-text {
          padding: 2.35rem 0;
          font-size: 1.3rem;
        }
        .student-name {
          font-size: 1.3rem;
        }
      }
      @media (1000px<width<=1200px) {
        width: 60%;
      }
      @media (800px<=width<=1000px) {
        width: 70%;
      }
      @media (width<800px) {
        text-align: center;
        width: 65%;
        @include index.flex-box($flex-dir: column);
        img {
          width: 100%;
          border-radius: 0.5rem 0.5rem 0 0;
        }
        .student-feedback {
          border-radius: 0 0 0.5rem 0.5rem;
        }
      }
      @media (width<=500px) {
        width: 80%;
        text-align: center;
      }
    }
  }
  @media (width<500px) {
    h2 {
      width: 80%;
    }
  }
}

/* **************** FOOTER STYLE ******************* */
.footer {
  // bottom: 0;
  width: 100%;
  height: 50vh;
  @include index.res-grid(100%);
  background-color: #050524;
  .web-details {
    @include index.res-grid;
    column-gap: 30%;
    padding-left: 1rem;
    background-color: grey;
    // background-color: transparent;
    .info {
      // background-color: transparent;
      background-color: rgb(196, 182, 182);
      ul {
        width: 20vw;
        padding-top: 2%;
        text-align: left;
        list-style: none;
        li {
          padding-bottom: 2%;
          color: white;
        }
      }
    }
  }
}

.footer span {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  color: white;
}
