@use "../index" as index;
/* ********************** NAVBAR *********************** */
.head {
  @include index.flex-box;
  width: 100%;
  height: 10vh;
  background-color: white;
  color: #f1faee;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #b3b3bb;
  .logo {
    @include index.flex-box($justify-content: flex-start);
    width: 30%;
    padding-left: 2rem;
    // background-color: blueviolet;
    // img{
    //     @include img-setting;
    // }
    h1 {
      font-size: 2.5rem;
      background: linear-gradient(to right, #050523, #2a2a71);
      background-clip: text;
      color: transparent;
    }
  }
  .navbar {
    @include index.flex-box($justify-content: space-between);
    padding: 0 1rem;
    // background-color: #407777;
    width: 70%;
    ul {
      width: 60%;
      @include index.flex-box($justify-content: space-between);
      // background-color: aquamarine;
      li {
        @include index.flex-box;
        // background-color: chartreuse;
        .navbar-icons {
          color: #04042d;
        }
        // &:hover {
        //   border-bottom: 2px solid #050523;
        //   transition-timing-function: ease-in-out;
        //   transition-duration: 0.1s;
        //   transition: background-color 300ms;
        // }
        a {
          @include index.flex-box;
          gap: 0.5rem;
          font-size: 1.5rem;
          color: #04042d;
          transition: border-bottom;
        }
      }
    }
    .navigation {
      @include index.flex-box;
      gap: 2rem;
      #register-btn,
      #signup-btn {
        padding: 0.5rem 1rem;
        color: #050523;
        font-size: 1.2rem;
        border: 2px solid #050543;
        border-radius: 0.3rem;
        cursor: pointer;
        &:hover {
          background-color: #090950;
          border: none;
          color: white;
          filter: drop-shadow(6px 6px #141480);
          transform: scale(1.1);
          transition-timing-function: ease-in;
          transition-duration: 300ms;
        }
      }
    }
    .menu {
      display: none;
      button {
        padding: 0.1rem 0.3rem;
        border-radius: 0.3rem;
        border: 1px solid #050523;
        .menu-icon {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
}

.active-link {
  border-bottom: 2px solid #050523;
  animation: 2s link-animate ease-in forwards;
}

@keyframes link-animate {
  0% {
    border-bottom-width: 25%;
  }
  50% {
    border-bottom-width: 50%;
  }
  75% {
    border-bottom-width: 75%;
  }
  100% {
    border-bottom-width: 100%;
  }
}

@media (width<=1150px) {
  .head {
    .navbar {
      @include index.flex-box($justify-content: flex-end);
      ul,
      .navigation {
        display: none;
      }
      .menu {
        display: block;
      }
    }
  }
}

@media (1150px<width<=1200px) {
  .head {
    .logo {
      width: 15%;
    }
    .navbar {
      width: 85%;
    }
  }
}
