@use "../index" as index;

/* ********************** NAVBAR *********************** */
.head {
  @include index.flex-box;
  width: 100%;
  height: 10vh;
  background-color: white;
  color: #f1faee;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #b3b3bb;
  .logo {
    @include index.flex-box($justify-content: flex-start);
    width: 30%;
    padding: 1rem;
    img {
      @include index.img-setting($width: 30%);
      object-fit: contain;
    }
    @media (max-width: 468px) {
      padding-left: 1rem;
      img {
        width: 100%;
      }
      // @include index.img-setting($width: 100%);
    }
  }
  .navbar {
    @include index.flex-box($justify-content: space-between);
    padding: 0 1rem;
    width: 70%;
    ul {
      width: 60%;
      @include index.flex-box($justify-content: space-between);
      li {
        @include index.flex-box;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: index.$oxford-blue;
          transition: width 0.3s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
        .navbar-icons {
          color: index.$oxford-blue;
        }
        a {
          @include index.flex-box;
          gap: 0.5rem;
          font-size: 1.2rem;
          color: index.$oxford-blue;
          padding: 0.5rem;
        }
      }
      .res-nav-btns {
        @include index.flex-box;
        width: 80%;
        display: none;
        gap: 1rem;
        a {
          width: 80%;
          width: 100%;
          padding: 0.8rem;
          border-radius: 5px;
          font-size: 1.1rem;
          border: 1px solid index.$oxford-blue;
          background-color: index.$antiflash-white;
          color: index.$oxford-blue;
          transition: all 0.2s ease-in;
          &:hover {
            background-color: #e7e7e7;
          }
        }
        .register-btn,
        .signup-btn {
          color: black;
        }
      }
    }
    .navigation {
      @include index.flex-box;
      gap: 2rem;
      .nav-btns {
        padding: 0.5rem 1rem;
        color: #050523;
        font-size: 1.1rem;
        border: 2px solid #050543;
        border-radius: 0.3rem;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          background-color: index.$oxford-blue;
          border: none;
          color: white;
          filter: drop-shadow(6px 6px #073266);
          transform: scale(1.1);
          transition-timing-function: ease-in;
          transition-duration: 300ms;
        }
      }
      .user-account {
        .account-icon {
          font-size: 2rem;
          color: index.$antiflash-white;
          background-color: index.$oxford-blue;
          border-radius: 100%;
        }
      }
    }
    .menu {
      display: none;
      padding: 0.1rem 0.3rem;
      border-radius: 0.3rem;
      cursor: pointer;
      .menu-icon {
        width: 2.5rem;
        height: 2.5rem;
        color: black;
      }
    }
  }
}

.active-link {
  border-bottom: 2px solid #050523;
}

@media (width<=1150px) {
  .head {
    .navbar {
      width: 100%;
      z-index: 1;
      @include index.flex-box($justify-content: flex-end);
      .navigation {
        display: none;
      }
      .nav-links {
        width: 50%;
        height: 90vh;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 2rem;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: index.$oxford-blue;
        transform: translateX(-100%); // Hidden initially
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        &.open {
          display: flex; // Show links when open
          transform: translateX(0);
          filter: drop-shadow(3px 3px 3px #8484847d);
        }
        li {
          margin: 10px 0;
          a {
            color: #d8d8d8;
            .navbar-icons {
              color: #d8d8d8;
            }
          }
          .active-link {
            border-bottom: 2px solid #d8d8d8;
          }
          &::after {
            background-color: white;
          }
        }
        .res-nav-btns {
          display: flex;
          a {
            color: index.$oxford-blue;
            &:hover {
              scale: 1.04;
              background-color: white;
            }
          }
          @media (width<900px) {
            flex-direction: column;
            align-items: flex-start;
            a {
              font-size: 1.1rem;
            }
          }
        }
        @media (width<=700px) {
          width: 60%;
        }
        @media (width<=600px) {
          width: 80%;
        }
        @media (max-width: 468px) {
          li a {
            font-size: 1rem;
          }
          .res-nav-btns {
            a {
              padding: 0.7rem 1rem;
              font-size: 1rem;
            }
          }
        }
      }
      .menu {
        display: block;
      }
    }
  }
}

@media (1150px<width<=1200px) {
  .head {
    .logo {
      width: 15%;
    }
    .navbar {
      width: 85%;
    }
  }
}
