@use "../index" as index;
/* ********************** NAVBAR *********************** */
.head {
  @include index.flex-box;
  width: 100%;
  height: 10vh;
  background-color: white;
  color: #f1faee;
  position: relative;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #b3b3bb;
  .logo {
    @include index.flex-box($justify-content: flex-start);
    width: 30%;
    padding-left: 2rem;
    img {
      @include index.img-setting($width: 20%);
    }
    h1 {
      font-size: 2.5rem;
      background: linear-gradient(to right, #050523, #2a2a71);
      background-clip: text;
      color: transparent;
    }
  }
  .navbar {
    @include index.flex-box($justify-content: space-between);
    padding: 0 1rem;
    width: 70%;
    ul {
      width: 60%;
      @include index.flex-box($justify-content: space-between);
      li {
        @include index.flex-box;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #04042d;
          transition: width 0.3s ease-in-out;
        }
        &:hover::after {
          width: 100%;
        }
        .navbar-icons {
          color: #04042d;
        }
        a {
          @include index.flex-box;
          gap: 0.5rem;
          font-size: 1.5rem;
          color: #04042d;
          padding: 0.5rem;
          // transition: border-bottom;
        }
      }
      .res-nav-btns {
        @include index.flex-box;
        width: 80%;
        display: none;
        gap: 1rem;
        a {
          width: 80%;
          button {
            width: 100%;
            padding: 0.8rem;
            border-radius: 5px;
            font-size: 1.2rem;
            border: 1px solid #050523;
            background-color: transparent;
            cursor: pointer;
            background-color: white;
            color: black;
          }
        }
      }
    }
    .navigation {
      @include index.flex-box;
      gap: 2rem;
      .nav-btns {
        padding: 0.5rem 1rem;
        color: #050523;
        font-size: 1.2rem;
        border: 2px solid #050543;
        border-radius: 0.3rem;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          background-color: #090950;
          border: none;
          color: white;
          filter: drop-shadow(6px 6px #141480);
          transform: scale(1.1);
          transition-timing-function: ease-in;
          transition-duration: 300ms;
        }
      }
    }
    .menu {
      display: none;
      padding: 0.1rem 0.3rem;
      border-radius: 0.3rem;
      cursor: pointer;
      .menu-icon {
        width: 2.5rem;
        height: 2.5rem;
        color: black;
      }
    }
  }
}

.active-link {
  border-bottom: 2px solid #050523;
}

@media (width<=1150px) {
  .head {
    .navbar {
      width: 100%;
      z-index: 1;
      @include index.flex-box($justify-content: flex-end);
      .navigation {
        display: none;
      }
      .nav-links {
        display: none;
        width: 100%;
        height: 100vh;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 2rem;
        position: absolute;
        top: 100%;
        right: 0;
        @include index.bg-pattern;
        transform: translateY(-100%); // Hidden initially
        transition: transition 0.3s ease-in-out;
        &.open {
          display: flex; // Show links when open
          transform: translateY(0);
        }
        li {
          margin: 10px 0;
          a {
            color: #d8d8d8;
            .navbar-icons {
              color: #d8d8d8;
            }
          }
          .active-link {
            border-bottom: 2px solid #d8d8d8;
          }
          &::after {
            background-color: transparent;
          }
        }
        .res-nav-btns {
          width: 50%;
          display: flex;
          @media (width<710px) {
            width: 80%;
          }
          @media (width<480px) {
            width: 100%;
          }
        }
        @media (width<=700px) {
          width: 100%;
        }
      }
      .menu {
        display: block;
      }
    }
  }
}

@media (1150px<width<=1200px) {
  .head {
    .logo {
      width: 15%;
    }
    .navbar {
      width: 85%;
    }
  }
}
